<p-panel styleClass="mb-2 steps-pnl pnl-pt">
  <p-header>
    <i class="fa fa-info-circle font-size-18"></i>
    <span> Consecutivo Generado</span>
  </p-header>

  <!-- consecutivo -->
  <div class="mr-2 ml-2 mt-1 p-0 mb-0 ui-messages azul ui-corner-all border-0">
    <span class="ui-messages-icon pi pi-check text-left position-absolute font-size-35 pl-2 pt-1 text-white"></span>
    <p class="text-center text-white font-size-26 font-weight-bold font-new-roman" style="line-height: 1.2">
      {{state.responseSolicitud.consecutivo}}
    </p>
    <p class="text-center font-size-15 font-new-roman text-white" style="line-height: 1.2">
      <strong>Consecutivo</strong>
    </p>
  </div>

  <!-- nomenclatura -->
  <p class="font-size-24 font-new-roman mt-2 text-center"><strong> {{ state.nomenclaturaSeleccionada.nomenclatura }} </strong></p>
  <p class="font-weight-bold font-size-14 font-new-roman text-secondary text-center" style="line-height: 1">
    {{ state.nomenclaturaSeleccionada.descripcion }}
  </p>

  <!-- Cargue documentos -->
  <p-panel styleClass="mr-2 ml-2 pb-2 steps-pnl pnl-pt">
    <p-header>
      <i class="fa fa-info-circle font-size-18"></i>
      <span> Cargue los documentos asociados al consecutivo </span>
    </p-header>

    <!-- file upload -->
    <div class="pb-3 pt-3 mr-3 ml-3">
      <p-fileUpload
        accept="application/pdf,application/msword,application/vnd.ms-excel,application/vnd.oasis.opendocument.text"
        [showUploadButton]="false"
        [showCancelButton]="false"
        multiple="multiple"
        maxFileSize="2000000"
        chooseLabel="Seleccionar"
        invalidFileTypeMessageSummary="Archivo invalido"
        invalidFileTypeMessageDetail="Solo se permiten los siguientes tipos de archivos (pdf, word, excel)"
        invalidFileSizeMessageSummary="Archivo invalido"
        invalidFileSizeMessageDetail="El tamaño máximo de carga es 2000000 bytes">
      </p-fileUpload>
    </div>
  </p-panel>

  <!-- btn nuevo consecutivo-->
  <div class="text-center mb-2">
    <button (click)="irPrimerPaso()" type="button" class="btn btn-sm btn-secondary">
      <label class="btn-size-admin">
        <i class="fa fa-hand-o-left"></i> Regresar para solicitar otro consecutivo
      </label>
    </button>
  </div>
</p-panel>
