body {
  font-family: 'Open Sans', sans-serif !important;
}

#menuser .ui-menu {
  background-color: #212121;
  color: #eaeaea;
  width: 15.5em;
}

#menuser .ui-menuitem-text{
  color: #eaeaea;
}

#menuser .ui-menuitem-icon{
  color: #eaeaea;
}

#menuser .ui-menuitem {
text-align: left;
}

#menuser .ui-menu .ui-menuitem-link:hover {
  background-color: #3a3939;
}

#menu .ui-sidebar-left {
  top: 64px!important;
  width: 227px!important;
}

#menu .ui-sidebar {
  padding: 0px!important;
  background-color: #e9e9e9;
}
