body {
  font-family: 'Open Sans', sans-serif !important;
}

/* Estilos para los inputs */
.ad-input-label {
  margin-bottom: .2rem;
}

.ad-input-required {
  background-image: linear-gradient(to bottom, #a94442, #a94442), linear-gradient(to bottom, #a94442, #a94442) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 68, 66, .6);
}

.ad-input {
  background: transparent no-repeat;
  background-image: linear-gradient(to bottom, #3f51b5, #3f51b5), linear-gradient(to bottom, #bdbdbd, #bdbdbd);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  border-width: 0;
  padding-bottom: 0px;
  padding-top: .25em;
  font-size: 1em;
  outline: medium none;
}

.ad-input:focus {
  background-size: 0 0px, 0% 0px;
}

.ad-input-style~.focus-border {
  position: relative;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #607D8B;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.ad-input-style:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  left: 0;
}

/* Estilos para el modal de menu de usuario */
#menuUserSettings .ui-menu {
  background-color: #212121;
  color: #eaeaea;
  width: 15.5em;
}

#menuUserSettings .ui-menuitem-text {
  color: #eaeaea;
}

#menuUserSettings .ui-menuitem-icon {
  color: #eaeaea;
}

#menuUserSettings .ui-menuitem {
  text-align: left;
}

#menuUserSettings .ui-menu .ui-menuitem-link:hover {
  background-color: #3a3939;
}

/* Estilos para el menu para dispositivos con pequenia resolucion */
#smallMenu .ui-sidebar-left {
  top: 64px !important;
  width: 237px !important;
}

#smallMenu .ui-sidebar {
  padding: 0px !important;
  background-color: #e9e9e9;
}

/* Para una visualizacion correcta en el Shell */
.ui-table table {
  table-layout: auto !important;
}

/* header de los p-table */
.ui-table-caption {
  background-color: #607a8c !important;
  color: white !important;
}

/* circulo redondo paginador */
.ui-paginator-page.ui-state-active {
  background-color: #f5a96d !important;
  color: #212121 !important;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page {
  border-radius: 50% !important;
}

/* font para los valores de los tr de las tablas */
.ui-table .ui-table-tbody>tr {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  color: #212121 !important;
  font-size: 14px !important;
}

/* encabezados de panel */
.ui-panel-titlebar {
  background-color: #607a8c !important;
  color: white !important;
  font-size: 14px !important;
  text-align: center !important;
}

/* textos para check-box */
.ui-chkbox-label {
  font-weight: 700 !important;
}

/* para los messages de la app */
.ui-messages {
  padding: 0.425em 1em !important;
  margin: 0px !important;
  margin-bottom: 10px !important;
}

.ui-messages-detail {
  font-family: Times, Times New Roman, serif !important;
}

.ui-dialog-titlebar {
  background-color: #607a8c !important;
  color: white !important;
  font-family: Times, Times New Roman, serif !important;
  font-weight: 700 !important;
  padding: 0.5em !important;
}

.ui-dialog-titlebar-icon {
  color: white !important;
}

.ui-panel-titlebar-icon {
  color: white !important;
}

.ui-confirmdialog-icon {
  font-size: 2.0em !important;
  margin-right: 0px !important;
}

.ui-confirmdialog-message {
  font-family: Times, Times New Roman, serif !important;
  font-size: 16px !important;
}

.ui-radiobutton-label {
  margin: 0 0 0 .3em !important;
  font-family: Times, Times New Roman, serif !important;
  color: #212121 !important;
  font-size: 0.95rem !important;
}

#confApp .ui-dialog-content {
  text-align: center !important;
}

.splr-dl .ui-dialog-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.child-dl .ui-dialog-content {
  background-color: #f9f9f9 !important;
}

/* font-size */
.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.btn-size-admin {
  font-family: Times, Times New Roman, serif !important;
  margin: 0px !important;
  cursor: pointer;
}

/* font family para admin free */
.font-admin {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important
}

.font-new-roman {
  font-family: Times, Times New Roman, serif !important;
}

/* circulo redondo btns table */
.btn-round-table {
  border-radius: 50% !important;
  width: 2.2em !important;
  height: 2.2em !important;
}

.icon-round-table {
  margin-left: -.1em !important;
  line-height: 1.2 !important;
}

.icon-round-edit {
  margin-left: -.2em !important;
  line-height: 0.9 !important;
}

.icon-round-table-2 {
  margin-left: -.1em !important;
}

.icon-round-del {
  margin-left: -.2em !important;
  font-size: 20px !important;
}

.btn-round-teal {
  background-color: #009688 !important;
  color: #ffffff !important;
}

.btn-round-teal:hover {
  background-color: #016b60 !important;
  color: #ffffff !important;
}

.btn-round-del {
  background-color: #d68b94 !important;
  color: #212121 !important;
}

.btn-round-edit {
  background-color: #007ad9 !important;
  color: #ffffff !important;
}

.btn-round-edit:hover {
  background-color: #0762a8 !important;
  color: #ffffff !important;
}

.btn-round-del:hover {
  background-color: #c47d86 !important;
  color: #212121 !important;
}

.color-info {
  color: #555a63 !important;
}

.w-80 {
  width: 80% !important
}

.w-90 {
  width: 90% !important
}

.w-100-px {
  width: 100px !important
}

.w-80-px {
  width: 80px !important
}

.steps-3 .ui-steps-item {
  width: 33% !important;
}

.steps-4 .ui-steps-item {
  width: 25% !important;
}

.sub-title-page {
  font-family: Times, Times New Roman, serif !important;
  font-size: 1rem;
  margin: 0px !important;
}

.steps-pnl-main .ui-panel-content {
  padding: 0px !important;
}

.steps-pnl-main .ui-panel-titlebar {
  padding: 5px !important;
}

.steps-pnl .ui-panel-titlebar {
  background-color: #f9f9f9 !important;
  text-align: left !important;
  color: #333333 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  font-family: Times, Times New Roman, serif !important;
}

.steps-circle {
  border-radius: 50%;
  display: inline-block;
  color: white;
  background-color: #007ad9;
  width: 20px;
  height: 20px;
  text-align: center;
}

.steps-tbl td{
  padding: .5rem !important;
  vertical-align: middle !important;
}

.steps-st {
  font-family: Times, Times New Roman, serif;
  font-weight:700;
  font-size: 15px;
}

.del-round-min {
  border-radius: 50%;
  display: inline-block;
  color: #212121;
  background-color: #d68b94;
  width: 22px;
  height: 22px;
  text-align: center;
  cursor: pointer;
}

.del-round-min:hover {
  background-color: #c47d86 !important;
  color: #212121 !important;
}

.dtl-round-min {
  border-radius: 50%;
  display: inline-block;
  color: #ffffff !important;
  background-color: #009688;
  width: 22px;
  height: 22px;
  text-align: center;
  cursor: pointer;
}

.dtl-round-min:hover {
  background-color: #016b60 !important;
  color: #ffffff !important;
}

.del-round-min-pi {
  line-height: 1.4 !important;
}

.edit-round-min {
  border-radius: 50%;
  display: inline-block;
  color: white;
  background-color: #007ad9;
  width: 22px;
  height: 22px;
  text-align: center;
  cursor: pointer;
}

.edit-round-min:hover {
  background-color: #0762a8;
}

.st {
  color: #4b4f56;
  font-size: 0.98rem;
  font-family: Times, Times New Roman, serif;
}

.mx-dtl-mdl {
  max-width: 800px;
  min-width: 800px;
}
