:host ::ng-deep #tblcc .ui-table .ui-table-thead>tr>th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep #tblcc .ui-table .ui-table-thead>tr>th {
    top: 100px;
  }
}

th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

th::before {
  content: '';
  position: absolute;
  left: 1px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #c8c8c8;
  display: block;
  top: 0px;
}

th:after {
  bottom: -1px;
  border-bottom: 1px solid #c8c8c8;
}
