<p-panel [showHeader]="false" styleClass="mr-4 ml-4 steps-pnl steps-pnl-main">
  <table class="table steps-tbl mb-0">
    <tbody>
      <tr>
        <td>
          <p class="steps-st">Nomenclatura:</p>
        </td>
        <td>
          <p class="st clr-or font-weight-bold">{{ detalle.nomenclatura }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="steps-st">Descripción:</p>
        </td>
        <td>
          <p class="st">{{ detalle.descripcion }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="steps-st">Consecutivo Inicial:</p>
        </td>
        <td>
          <p class="st"><strong>{{ detalle.consecutivoInicial | consecutivo: 'No hay consecutivos' }}</strong></p>
        </td>
      </tr>
      <tr>
        <td style="width: 30%">
          <p class="steps-st">Último Consecutivo Generado:</p>
        </td>
        <td>
          <p class="st"><strong>{{ detalle.ultimoConsecutivoSolicitado | consecutivo: 'No hay consecutivos' }}</strong></p>
        </td>
      </tr>
    </tbody>
  </table>
</p-panel>
