.scc-border {
  border: 1px solid #c8c8c8;
}

.scc-border-top {
  border-top: 1px solid #c8c8c8;
}

.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .aico {
  position: absolute;
}

/* align icon */
.left-addon .aico {
  left: 96%;
  padding-top: 33px;
}

.right-addon .aico {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-right: 30px;
}

.right-addon input {
  padding-right: 30px;
}
