<!-- Hay campos-->
<ng-container *ngIf="campos && campos.length > 0">

  <!-- For para cada campo -->
  <ng-container *ngFor="let campoModel of camposVisualizar; let i = index">

    <!-- CAMPO DE TEXTO -->
    <div *ngIf="campoModel.campo.tipoCampo === ID_CAMPO_TEXTO" class="ui-g">

      <!-- label-->
      <div class="ui-g-2 text-right">
        <label for="ctx{{i}}" class="steps-st mb-0 mt-1">{{campoModel.campo.nombre}}:</label>
        <i *ngIf="campoModel.isRequerido" class="fa fa-asterisk text-danger font-size-10"></i>
      </div>

      <!-- input-->
      <div class="ui-g-8">
        <input type="text"
          id="ctx{{i}}"
          name="ctx{{i}}"
          [(ngModel)]="campoModel.valor"
          maxlength="100"
          tooltipEvent="focus"
          tooltipPosition="right"
          [placeholder]="campoModel.isSoloNumeros ? 'Campo Numérico': ''"
          [pTooltip]="campoModel.campo.descripcion"
          class="ad-input ad-input-style w-100"
          [ngClass]="{'ad-input-required' : campoModel.pintarError, 'font-new-roman' : campoModel.isSoloNumeros}"/>
        <div class="focus-border"></div>
      </div>
      <div class="ui-g-2">
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- No Hay campos-->
<div *ngIf="!(campos && campos.length > 0)" class="mr-4 ml-4 ui-messages ui-widget ui-corner-all ui-messages-warn mt-2">
  <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
  <span class="ui-messages-detail">
    <strong>No hay campos de información</strong> asociados a la nomenclatura seleccionada
  </span>
</div>
