<div class="dashboard">


  <p-panel styleClass="steps-pnl pnl-pt">
    <p-header>
      <i class="fa fa-ils font-size-16"></i>
      <span> Nomenclaturas</span>
    </p-header>

    <div class="ui-g mt-2 ml-2 mr-2 mb-2">
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-sales ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-views ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users2 ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users2 ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-4">
        <div class="overview-box monthly-users2 ui-corner-all">
          <div class="overview-title">SALES</div>
          <i class="fa fa-arrow-circle-up"></i>
          <div class="overview-numbers"><strong>$ 22,650</strong></div>
          <div class="overview-ratios">16% more than previous month</div>
        </div>
      </div>

    </div>



  </p-panel>

  <p-panel styleClass="steps-pnl pnl-pt mt-4">
    <p-header>
      <i class="fa fa-users font-size-16"></i>
      <span> Usuarios</span>
    </p-header>

    <table class="table borderless mt-2">
      <tbody>
        <tr>
          <td style="width: 40%" class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Carlos Andres Diaz Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Desarrollador</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Cristopher Diaz Rivera</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Pastora Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td style="width: 40%" class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Carlos Andres Diaz Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Desarrollador</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Cristopher Diaz Rivera</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Pastora Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td style="width: 40%" class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Carlos Andres Diaz Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Desarrollador</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Cristopher Diaz Rivera</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
        <tr>
          <td class="pl-4">
            <p class="font-weight-bold font-size-16 font-new-roman">Pastora Mendoza</p>
            <p class="font-weight-bold font-size-14 font-new-roman" style="color: #a6a6a6;">Bebe lloron</p>
          </td>
          <td class="pr-4">
            <p-progressBar [value]="value"></p-progressBar>
          </td>
        </tr>
      </tbody>
    </table>


  </p-panel>



</div>
