.dashboard .box-main {
  color: #ffffff;
  min-height: 57px;
  position: relative;
}

.dashboard .box-main .nomen {
  line-height: 31px;
  font-size: 24px;
  text-align: left;
}

.dashboard .box-main.naranja {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 10px 10px 10px 20px;
  background: #f57696;
  background: -moz-linear-gradient(240deg, #f57696 0%, #f37e54 100%);
  background: -webkit-linear-gradient(240deg, #f57696 0%, #f37e54 100%);
  background: linear-gradient(240deg, #f57696 0%, #f37e54 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f57696", endColorstr="#f37e54", GradientType=1);
}

.dashboard .box-main.azul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 10px 10px 10px 20px;
  background: #07a6d6;
  background: -moz-linear-gradient(240deg, #07a6d6 0%, #036bb1 100%);
  background: -webkit-linear-gradient(240deg, #07a6d6 0%, #036bb1 100%);
  background: linear-gradient(240deg, #07a6d6 0%, #036bb1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07a6d6", endColorstr="#036bb1", GradientType=1);
}

.dashboard .box-main.morado {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 10px 10px 10px 20px;
  background: #5485d4;
  background: -moz-linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  background: -webkit-linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  background: linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5485d4", endColorstr="#8469df", GradientType=1);
}

.dashboard .box-main.verde {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 10px 10px 10px 20px;
  background: #53d3c6;
  background: -moz-linear-gradient(240deg, #53d3c6 0%, #269e92 100%);
  background: -webkit-linear-gradient(240deg, #53d3c6 0%, #269e92 100%);
  background: linear-gradient(240deg, #53d3c6 0%, #269e92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53d3c6", endColorstr="#269e92", GradientType=1);
}

.borderless td,
.borderless th {
  border: none;
}

.clr-user-act {
  color: #016b60;
}
