<!-- panel principal -->
<div class="dashboard">

  <!-- panel nomenclaturas -->
  <p-panel styleClass="steps-pnl pnl-pt">
    <p-header>
      <i class="fa fa-ils font-size-16"></i>
      <span> Nomenclaturas</span>
    </p-header>

    <!-- SI hay nomenclaturas -->
    <table *ngIf="datosWelcome && datosWelcome.nomenclaturas && datosWelcome.nomenclaturas.length > 0" class="table borderless mt-2 mb-0">
      <tbody>
        <tr *ngFor="let nomenclatura of datosWelcome.nomenclaturas">
          <td style="width: 30%" class="pl-4">
            <div class="box-main ui-corner-all" [ngClass]="nomenclatura.bgColor">
              <div class="nomen"><strong>{{nomenclatura.nomenclatura}}</strong></div>
            </div>
            <p class="font-weight-bold font-size-14 font-new-roman text-secondary">{{nomenclatura.descripcion}}</p>
          </td>
          <td>
            <p-progressBar class="pro-azul" [value]="nomenclatura.porcentaje"></p-progressBar>
          </td>
          <td style="width: 4%">
            <p class="font-size-14 font-new-roman"><strong>{{nomenclatura.cantidadConsecutivos | consecutivo: '0000'}}</strong></p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- NO hay nomenclaturas -->
    <div *ngIf="!(datosWelcome && datosWelcome.nomenclaturas && datosWelcome.nomenclaturas.length > 0)" class="mr-3 ml-3 mt-3 mb-3 p-3 ui-messages ui-messages-info ui-corner-all text-center">
      <span class="ui-messages-icon pi pi-info-circle"></span>
      <span class="ui-messages-detail">
        Por favor ingresa al <strong>módulo de Configuraciones para registrar las nomenclaturas</strong> o comuníquese con el administrador del sistema
      </span>
    </div>
  </p-panel>

  <!-- panel usuarios -->
  <p-panel styleClass="steps-pnl pnl-pt mt-4">
    <p-header>
      <i class="fa fa-users font-size-16"></i>
      <span> Usuarios</span>
    </p-header>

    <!-- usuarios -->
    <table *ngIf="datosWelcome && datosWelcome.usuarios && datosWelcome.usuarios.length > 0" class="table borderless mt-2 mb-0">
      <tbody>
        <tr *ngFor="let usuario of datosWelcome.usuarios">
          <td style="width: 35%" class="pl-4">
            <p class="font-weight-bold font-size-15 font-new-roman">{{usuario.nombreCompleto}}</p>
            <p class="font-weight-bold font-size-14 font-new-roman text-secondary">{{usuario.cargo}}</p>
            <p *ngIf="usuario.idEstado === ID_ACTIVO" class="font-weight-bold font-size-14 font-new-roman clr-activo">{{usuario.estado}}</p>
            <p *ngIf="usuario.idEstado === ID_INACTIVO" class="font-weight-bold font-size-14 font-new-roman text-danger">{{usuario.estado}}</p>
          </td>
          <td>
            <p-progressBar [value]="usuario.porcentaje"></p-progressBar>
          </td>
          <td style="width: 4%">
            <p class="font-size-14 font-new-roman"><strong>{{usuario.cantidadConsecutivos | consecutivo: '0000'}}</strong></p>
          </td>
        </tr>
      </tbody>
    </table>
  </p-panel>
</div>
