<!-- pasos para la solicitud -->
<p-steps [styleClass]="stepsModel.styleClass" [model]="stepsModel.steps" [(activeIndex)]="stepsModel.activeIndex"></p-steps>

<!-- Paso 1 nomenclatura-->
<ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_UNO">

  <p-panel styleClass="mb-2 steps-pnl">
    <p-header>
      <i class="fa fa-info-circle font-size-18"></i>
      <span> Seleccione la Nomenclatura</span>
    </p-header>

    <!-- Hay nomenclaturas-->
    <ng-container *ngIf="nomenclaturas && nomenclaturas.length > 0">

      <!-- tabla - nomenclaturas -->
      <p-table [value]="nomenclaturas"
        [(selection)]="nomenclaturaSel"
        [alwaysShowPaginator]="false"
        [responsive]="true"
        [paginator]="true"
        [rows]="5"
        rowHover="true"
        selectionMode="single">

        <ng-template pTemplate="header">
          <tr class="text-center">
            <th style="width: 5%">Nomenclatura</th>
            <th>Descripción</th>
            <th style="width: 4%">Detalle</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-nomenclatura>
          <tr [pSelectableRow]="nomenclatura">
            <td class="text-center font-size-14">
              <strong>{{ nomenclatura.nomenclatura }}</strong>
            </td>
            <td>{{ nomenclatura.descripcion }}</td>
            <td class="text-center">
              <button type="button" (click)="verDetalleNomenclatura($event)" class="btn btn-sm btn-round-table btn-pup">
                <i class="pi pi-external-link icon-round-table"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- botones - next-->
      <div class="text-center mt-2 mb-1">
        <button (click)="siguienteNomenclatura()" type="button" class="btn btn-sm btn-primary w-100-px" [disabled]="!nomenclaturaSel">
          <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
        </button>
      </div>
    </ng-container>

    <!-- No Hay nomenclaturas-->
    <div *ngIf="!(nomenclaturas && nomenclaturas.length > 0)" class="mr-4 ml-4 ui-messages ui-widget ui-corner-all ui-messages-warn mt-2">
      <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
      <span class="ui-messages-detail">
        <strong>No hay nomenclaturas</strong> parametrizadas en el sistema
      </span>
    </div>
  </p-panel>
</ng-container>
