<!-- title -->
<div class="text-center">
  <p class="title-page-english">FUN WAY TO LEARN ENGLISH</p>
</div>

<!-- existe serie a editar-->
<ng-container *ngIf="serie">

  <!-- datos generales de la serie-->
  <p-panel styleClass="steps-pnl pnl-pt mt-3">
    <p-header>
      <p class="s-title-page-english text-center">EDITION OF SERIES</p>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-4">
        <img src="data:image/PNG;base64,{{serie.img}}" width="40" height="40">
        <span class="font-weight-bold s-title font-size-15 font-new-roman ml-2">{{serie.name}}</span>
      </div>
      <div class="ui-g-4 ma-auto">
        <span class="font-weight-bold font-size-15 font-new-roman">URL ORORO: </span>
        <a href="{{serie.url}}" target="_blank" class="link font-new-roman font-size-15">{{serie.url}}</a>
      </div>
      <div class="ui-g-4 ma-auto">
        <button (click)="goToListSeries()" type="button" class="btn-sm btn-primary w-130-px mr-4">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Come Back</label>
        </button>
        <button (click)="goToListSeries()" type="button" class="btn-sm btn-info w-130-px">
          <label class="btn-size-admin"><i class="fa fa-plus"></i> Add Season</label>
        </button>
      </div>
    </div>
  </p-panel>

  <!-- SI hay temporadas para esta serie-->
  <ng-container *ngIf="serie.seasons">
    <p-tabView>

      <!-- Temporadas-->
      <ng-container *ngFor="let season of serie.seasons; first as isFirst">
        <p-tabPanel [header]="season.name" [selected]="isFirst">

          <!-- Capitulos-->
          <ng-container *ngFor="let chapter of season.chapters; let i = index">
            <p class="mb-3 mt-3">
              <span class="font-weight-bold">{{i + 1}}: </span>
              <span class="chapter font-new-roman font-size-15">{{chapter.name}}</span>
            </p>  
          </ng-container>  

          <!-- btn agregar capitulo-->
          <button type="button" class="btn-sm btn-info w-130-px mt-3">
            <label class="btn-size-admin"><i class="fa fa-plus"></i> Add Chapter</label>
          </button>
        </p-tabPanel>
      </ng-container>
    </p-tabView>
  </ng-container>

  <!-- NO hay temporadas para esta serie-->
  <ng-container *ngIf="!serie.seasons">
    <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-warn ui-corner-all text-center">
      <span class="ui-messages-icon pi pi-info-circle"></span>
      <span class="ui-messages-detail font-size-15 ml-0">
        <strong>No hay temporadas para esta serie</strong>
      </span>
    </div>
  </ng-container>

  <p-panel styleClass="steps-pnl pnl-pt mt-2" [showHeader]="false">
    <div class="ui-g border-top">
      <div class="ui-g-10">
        <div class="ui-g">
          <div class="ui-g-2">
            <span class="font-weight-bold s-title font-size-15 font-new-roman">SEASON # 1</span>
          </div>
          <div class="ui-g-5">
            <div class="ui-g-12 pt-0 pb-0">
              <div class="inner-addon left-addon">
                <input adminAutofocus type="text" id="fname" name="fname" maxlength="255"
                  class="ad-input ad-input-style w-100 pt-0 font-new-roman"
                  [ngClass]="{'ad-input-required': submit && !serie.name}" placeholder="NAME CHAPTER" />
                <div class="focus-border"></div>
              </div>
            </div>
          </div>
          <div class="ui-g-5">
            <div class="ui-g-12 pt-0 pb-0">
              <div class="inner-addon left-addon">
                <input type="text" id="fname" name="fname" maxlength="255"
                  class="ad-input ad-input-style w-100 pt-0 font-new-roman"
                  [ngClass]="{'ad-input-required': submit && !serie.name}" placeholder="URL ORORO" />
                <div class="focus-border"></div>
              </div>
            </div>
          </div>


          <div class="ui-g-12">
            <p-panel>
              <p-header>
                <label for="inprocedimiento" class="ml-1 mb-0"> Spanish Sentence:</label>
              </p-header>
              <textarea id="inprocedimiento" class="form-control font-new-roman " rows="3">
                      </textarea>
            </p-panel>
          </div>

          <div class="ui-g-12">
            <p-panel>
              <p-header>
                <label for="inprocedimiento" class="ml-1 mb-0"> English Sentence:</label>
              </p-header>
              <textarea id="inprocedimiento" class="form-control font-new-roman " rows="3">
                        </textarea>
            </p-panel>
          </div>

          <div class="ui-g-12">
            <p-fileUpload customUpload="true" auto="true" #inImg [showUploadButton]="false" [showCancelButton]="false"
              chooseLabel="Download Sound" invalidFileTypeMessageSummary="Archivo invalido"
              invalidFileTypeMessageDetail="Solo Imagenes" invalidFileSizeMessageSummary="Iamege invalido"
              accept="image/*">
              <ng-template pTemplate="content"></ng-template>
            </p-fileUpload>
          </div>


          <div class="text-center mb-1 mx-auto ui-g-12">
            <button (click)="editSerie()" type="button" class="btn btn-warning mr-2 ml-2 w-130-px">
              <label class="btn-size-admin"><i class="fa fa-edit"></i> Save</label>
            </button>
            <button (click)="editSerie()" type="button" class="btn btn-info mr-2 ml-2 w-130-px">
              <label class="btn-size-admin"><i class="fa fa-plus"></i> Add Sentence</label>
            </button>
          </div>


        </div>

      </div>
      <div class="ui-g-2 border-left">
        <p class="text-center border-bottom s-title font-weight-bold font-new-roman">SENTENCES ADDED</p>
        <p class="mb-2 mt-2">
          <span class="font-weight-bold">1: </span>
          <span class="chapter font-new-roman font-size-15">Sentence </span>
        </p>
        <p class="mb-2 mt-2">
          <span class="font-weight-bold">2: </span>
          <span class="chapter font-new-roman font-size-15">Sentence </span>
        </p>
        <p class="mb-2 mt-2">
          <span class="font-weight-bold">3: </span>
          <span class="chapter font-new-roman font-size-15">Sentence </span>
        </p>
      </div>
    </div>



  </p-panel>
</ng-container>

<!-- NO existe serie a editar-->
<ng-container *ngIf="!serie">
  <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-warn ui-corner-all text-center">
    <span class="ui-messages-icon pi pi-info-circle"></span>
    <span class="ui-messages-detail font-size-15 ml-0">
      <strong>Seleccione la serie que desea editar</strong>
    </span>
  </div>
</ng-container>