<div class="text-center mt-2 ">
  <p class="title-page-english">FUN WAY TO LEARN ENGLISH</p>
</div>
<div class="text-center mt-2 mb-4">
  <p class="s-title-page-english text-danger">EDITION OF SERIES</p>
</div>

<!-- botones come back, save-->
<div class="text-center mt-2 mb-1 mx-auto">
  <button (click)="goToListSeries()" type="button" class="btn btn-primary w-130-px mr-4">
    <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Come Back</label>
  </button>
  <button (click)="editSerie()" type="button" class="btn btn-success mr-2 ml-2 w-130-px">
    <label class="btn-size-admin"><i class="fa fa-times"></i> Edit</label>
  </button>
</div>