<!-- pnl filtro - agregar serie -->
<p-panel [style.display]="!serieSubserieCU?'inherit':'none'" styleClass="steps-pnl pnl-pt mb-4">
  <p-header>
    <div class="ui-g">

      <!-- btn - filtro -->
      <div class="ui-md-6 p-0 text-left">
        <button (click)="filtrar()" *ngIf="seriesPaginados" type="button" class="btn btn-sm btn-primary w-180-px">
          <div class="ui-g">
            <div class="ui-md-6 p-0 text-left">
              <label class="btn-size-admin"><i class="fa fa-search"></i> Filtrar</label>
              <i *ngIf="hayFiltroAplicado" class="fa fa-asterisk font-size-9 pl-1"></i>
            </div>
            <div class="ui-md-6 p-0 text-right">
              <label class="btn-size-admin">
                <strong>Cant: {{ seriesPaginados.datos?.cantidadTotal | number }}</strong>
              </label>
            </div>
          </div>
        </button>
      </div>

      <!-- btn - agregar serie -->
      <div class="ui-md-6 p-0 text-right">
        <button (click)="abrirPanelCreacion(true, null)" type="button" class="btn btn-sm btn-success w-180-px">
          <label class="btn-size-admin"><i class="fa fa-clipboard"></i> Agregar serie documental</label>
        </button>
      </div>
    </div>
  </p-header>

  <!-- filtros -->
  <div *ngIf="seriesPaginados" class="ui-g pt-2 mb-2">

    <!-- filtro codigo serie -->
    <div class="ui-md-3 pt-0 pb-0 pl-3">
      <label for="fcodigoserie" class="steps-st mb-0"> Filtro por código serie: </label>
      <div class="inner-addon left-addon">
        <i (click)="filtro.codigoSerieDocumental=null"
          class="fa fa-times font-size-16 aico"
          [ngClass]="filtroClone.codigoSerieDocumental ? 'text-dark' : 'i-slight'"></i>
        <input
          type="text"
          id="fcodigoserie"
          name="fcodigoserie"
          [(ngModel)]="filtro.codigoSerieDocumental"
          maxlength="100"
          class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15" />
        <div class="focus-border"></div>
      </div>
    </div>

    <!-- filtro nombre serie -->
    <div class="ui-md-3 pt-0 pb-0 pl-3">
      <label for="fnombreserie" class="steps-st mb-0"> Filtro por nombre serie: </label>
      <div class="inner-addon left-addon">
        <i (click)="filtro.nombreSerieDocumental=null"
          class="fa fa-times font-size-16 aico"
          [ngClass]="filtroClone.nombreSerieDocumental ? 'text-dark' : 'i-slight'"></i>
        <input
          type="text"
          id="fnombreserie"
          name="fnombreserie"
          [(ngModel)]="filtro.nombreSerieDocumental"
          maxlength="255"
          class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15" />
        <div class="focus-border"></div>
      </div>
    </div>

    <!-- filtro codigo subserie -->
    <div class="ui-md-3 pt-0 pb-0 pl-3">
      <label for="fcodigosubserie" class="steps-st mb-0"> Filtro por código subserie: </label>
      <div class="inner-addon left-addon">
        <i (click)="filtro.codigoSubSerieDocumental=null"
          class="fa fa-times font-size-16 aico"
          [ngClass]="filtroClone.codigoSubSerieDocumental ? 'text-dark' : 'i-slight'"></i>
        <input
          type="text"
          id="fcodigosubserie"
          name="fcodigosubserie"
          [(ngModel)]="filtro.codigoSubSerieDocumental"
          maxlength="100"
          class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15" />
        <div class="focus-border"></div>
      </div>
    </div>

    <!-- filtro nombre subserie -->
    <div class="ui-md-3 pt-0 pb-0 pl-3 pr-3">
      <label for="fnombresubserie" class="steps-st mb-0"> Filtro por nombre subserie: </label>
      <div class="inner-addon left-addon">
        <i (click)="filtro.nombreSubSerieDocumental=null"
          class="fa fa-times font-size-16 aico"
          [ngClass]="filtroClone.nombreSubSerieDocumental ? 'text-dark' : 'i-slight'"></i>
        <input
          type="text"
          id="fnombresubserie"
          name="fnombresubserie"
          [(ngModel)]="filtro.nombreSubSerieDocumental"
          maxlength="255"
          class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15" />
        <div class="focus-border"></div>
      </div>
    </div>
  </div>

  <!-- NO hay series -->
  <div *ngIf="!seriesPaginados" class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-info ui-corner-all text-center">
    <span class="ui-messages-icon pi pi-info-circle"></span>
    <span class="ui-messages-detail font-size-15 ml-0">
      No se encontraron <strong>series documentales</strong> parametrizados en el sistema
    </span>
  </div>
</p-panel>

<!-- tbl series - convesiones -->
<div *ngIf="seriesPaginados" [style.display]="!serieSubserieCU?'inherit':'none'">

  <!-- Convesiones -->
  <div class="ui-g font-size-14 font-new-roman text-center">

    <!-- series - tipologia -->
    <div class="ui-md-4 p-0">
      <span class="serie-clr mr-1"></span> <span> Serie Documental</span>
    </div>
    <div class="ui-md-4 p-0">
      <span class="subserie-clr mr-1"></span> <span> Subserie Documental</span>
    </div>
    <div class="ui-md-4 p-0">
      <span class="tipo-clr-b mr-1"></span> <span> Tipología Documental</span>
    </div>

    <!-- disposicion final -->
    <div class="ui-md-3 p-0">
      <span class="font-weight-bold">CT</span> <span> = Conservación Total</span>
    </div>
    <div class="ui-md-3 p-0">
      <span class="font-weight-bold">M</span> <span> = Microfilmación</span>
    </div>
    <div class="ui-md-3 p-0">
      <span class="font-weight-bold">S</span> <span> = Selección</span>
    </div>
    <div class="ui-md-3 p-0">
      <span class="font-weight-bold">E</span> <span> = Eliminación</span>
    </div>
  </div>

  <!-- tabla series -->
  <p-table
    id="tblseries"
    #tblseries
    [value]="seriesPaginados.registros"
    (onPage)="seriesPaginados.scrollerListener($event)"
    [totalRecords]="seriesPaginados.datos.cantidadTotal"
    [alwaysShowPaginator]="seriesPaginados.datos.cantidadTotal > seriesPaginados.rowsDefault"
    [rowsPerPageOptions]="seriesPaginados.rowsPerPageOptions"
    [rows]="seriesPaginados.rowsDefault"
    [expandedRowKeys]="expandAllSeries"
    [responsive]="true"
    [paginator]="true"
    [lazy]="true"
    styleClass="tblshort tblhshort tblwthclr"
    dataKey="idSerie"
    rowHover="true">

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th style="width: 12%" rowspan="2">Código</th>
        <th style="width: 40%" rowspan="2">Series y Tipos Documentales</th>
        <th style="width: 8%" colspan="2">Retención</th>
        <th style="width: 10%" colspan="4">Disposición Final</th>
        <th style="width: 27%" rowspan="2">Procedimiento</th>
        <th style="width: 3%" rowspan="2"></th>
      </tr>
      <tr class="text-center">
        <th>AG</th>
        <th>AC</th>
        <th>CT</th>
        <th>M</th>
        <th>S</th>
        <th>E</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-serie>
      <tr [pSelectableRow]="serie">
        <td class="text-center align-text-top row-serie">
          <p class="font-size-15 font-new-roman mb-0 font-weight-bold clr-anulado">{{serie.codigo}}</p>
        </td>
        <td class="align-text-top row-serie pl-3" style="padding-left: 3px!important">
          <p class="font-size-14 font-new-roman mb-0 font-weight-bold">{{serie.nombre}}</p>
          <ng-container *ngFor="let doc of serie.tiposDocumentales">
            <p class="font-size-14 font-new-roman mb-0">
              <span class="tipo-clr mr-2 ml-1"></span> {{doc.nombre}}
            </p>
          </ng-container>
        </td>
        <td class="text-center align-text-top row-serie">
          {{serie.tiempoArchivoGestion}}
        </td>
        <td class="text-center align-text-top row-serie">
          {{serie.tiempoArchivoCentral}}
        </td>
        <td class="text-center align-text-top row-serie">
          <i *ngIf="serie.conservacionTotal" class="pi pi-check font-size-18"></i>
        </td>
        <td class="text-center align-text-top row-serie">
          <i *ngIf="serie.microfilmacion" class="pi pi-check font-size-18"></i>
        </td>
        <td class="text-center align-text-top row-serie">
          <i *ngIf="serie.seleccion" class="pi pi-check font-size-18"></i>
        </td>
        <td class="text-center align-text-top row-serie">
          <i *ngIf="serie.eliminacion" class="pi pi-check font-size-18"></i>
        </td>
        <td class="text-center align-text-top row-serie">
          <p class="font-size-14 font-new-roman mb-0">{{serie.procedimiento}}</p>
        </td>
        <td class="row-serie">
          <button type="button" class="btn btn-sm btn-primary">
            <label class="btn-size-admin"><i class="fa fa-pencil"></i></label>
          </button>
          <button (click)="eliminarSerie(serie)" type="button" class="btn btn-sm btn-danger mt-1 mb-1">
            <label class="btn-size-admin"><i class="fa fa-trash"></i></label>
          </button>
          <button (click)="abrirPanelCreacion(false, serie)" type="button" class="btn btn-sm btn-success">
            <label class="btn-size-admin"><i class="fa fa-plus-circle"></i></label>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-serie>
      <ng-container *ngFor="let subserie of serie.subSeries">
        <tr [pSelectableRow]="subserie">
          <td class="text-center align-text-top">
            <p class="font-size-15 font-new-roman mb-0 font-weight-bold clr-activo">{{subserie.codigo}}</p>
          </td>
          <td class="align-text-top" style="padding-left: 3px!important">
            <p class="font-size-15 font-new-roman mb-0 font-weight-bold text-capitalize">{{subserie.nombre}}</p>
            <ng-container *ngFor="let doc of subserie.tiposDocumentales">
              <p class="font-size-14 font-new-roman mb-0">
                <span class="tipo-clr mr-2 ml-1"></span> {{doc.nombre}}
              </p>
            </ng-container>
          </td>
          <td class="text-center align-text-top">
            {{subserie.tiempoArchivoGestion}}
          </td>
          <td class="text-center align-text-top">
            {{subserie.tiempoArchivoCentral}}
          </td>
          <td class="text-center align-text-top">
            <i *ngIf="subserie.conservacionTotal" class="pi pi-check font-size-18"></i>
          </td>
          <td class="text-center align-text-top">
            <i *ngIf="subserie.microfilmacion" class="pi pi-check font-size-18"></i>
          </td>
          <td class="text-center align-text-top">
            <i *ngIf="subserie.seleccion" class="pi pi-check font-size-18"></i>
          </td>
          <td class="text-center align-text-top">
            <i *ngIf="subserie.eliminacion" class="pi pi-check font-size-18"></i>
          </td>
          <td class="text-center align-text-top">
            <p class="font-size-14 font-new-roman mb-0">{{subserie.procedimiento}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-primary mb-1">
              <label class="btn-size-admin"><i class="fa fa-pencil"></i></label>
            </button>
            <button (click)="eliminarSubSerie(serie,subserie)" type="button" class="btn btn-sm btn-danger">
              <label class="btn-size-admin"><i class="fa fa-trash"></i></label>
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="10">
          <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-1 text-center">
            <span class="ui-messages-icon pi pi-info-circle"></span>
            <span class="ui-messages-detail font-size-15">
              <strong>No se encontraron series documentales</strong> que coincidan con los criterios de filtro de búsqueda ingresado
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- panel crear/editar serie/subserie -->
<ng-container *ngIf="serieSubserieCU">
  <p-panel styleClass="mb-1 steps-pnl pnl-pt">
    <p-header>
      <i class="fa fa-info-circle font-size-18"></i>
      <span> Creación de series documentales</span>
    </p-header>

    <!-- Codigo y Nombre-->
    <p-panel styleClass="mb-3 mt-3 mr-3 ml-3">
      <p-header>
        <span class="steps-circle">1</span> <span> Código y Nombre </span>
      </p-header>
      <div class="ui-g">

        <!-- Codigo -->
        <div class="ui-g-6 pt-0">
          <div class="ui-g-12 pb-0">
            <label for="incodigo" class="steps-st mb-0 mt-1"> Código: </label>
            <i class="fa fa-asterisk text-danger font-size-10"></i>
          </div>
          <div class="ui-g-12 pt-0">
            <input
              type="text"
              id="incodigo"
              name="incodigo"
              [(ngModel)]="serieSubserieCU.codigo"
              adminAutofocus
              autocomplete="off"
              maxlength="50"
              class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15"
              [ngClass]="{'ad-input-required': serieSubserieCU.esCodigoInvalido}"/>
            <div class="focus-border"></div>
          </div>
        </div>

        <!-- Nombre -->
        <div class="ui-g-6 pt-0">
          <div class="ui-g-12 pb-0">
            <label for="innombre" class="steps-st mb-0 mt-1"> Nombre: </label>
            <i class="fa fa-asterisk text-danger font-size-10"></i>
          </div>
          <div class="ui-g-12 pt-0">
            <input
              type="text"
              id="innombre"
              name="innombre"
              [(ngModel)]="serieSubserieCU.nombre"
              autocomplete="off"
              maxlength="255"
              class="ad-input ad-input-style w-100 pt-0 font-new-roman font-size-15"
              [ngClass]="{'ad-input-required':serieSubserieCU.esNombreInvalido,'text-uppercase':esSerieDocumental,'text-capitalize':!esSerieDocumental}"/>
            <div class="focus-border"></div>
          </div>
        </div>
      </div>
    </p-panel>

    <!-- tipos documentales-->
    <p-panel styleClass="mb-3 mt-1 mr-3 ml-3">
      <p-header>
        <span class="steps-circle">2</span> <span> Adicione los tipos documentales de la serie documental</span>
      </p-header>

      <!-- autocomplete - btn adicionar -->
      <div class="ui-g bg-cgb pb-2">
        <div class="ui-g-2 pb-0">
          <button (click)="adicionarTipoDocumental()" type="button" class="btn btn-sm btn-success w-100">
            <label class="btn-size-admin"><i class="fa fa-plus-circle mr-1"></i> Adicionar</label>
          </button>
        </div>
        <div class="ui-g-10 pb-0">
          <p-autoComplete
            id="autotiposdocs"
            #autotiposdocs
            [(ngModel)]="tiposDocModel.valor"
            [suggestions]="tiposDocModel.suggestions"
            (completeMethod)="tiposDocModel.search()"
            [forceSelection]="false"
            maxlength="255"
            styleClass="w-100 font-new-roman font-size-16"
            inputStyleClass="w-100 font-new-roman font-size-16 p-2rem pl-2">
          </p-autoComplete>
        </div>
      </div>

      <!-- tipos documentales -->
      <div *ngIf="serieSubserieCU.tiposDocumentales && serieSubserieCU.tiposDocumentales.length" class="ui-g mt-2 mb-2">
        <ng-container *ngFor="let tipo of serieSubserieCU.tiposDocumentales">
          <div class="ui-g-12 pb-1 ml-2">
            <span (click)="eliminarTipoDocumental(tipo)" class="del-round-min mr-2">
              <i class="pi pi-times del-round-min-pi"></i>
            </span>
            <span class="font-new-roman font-size-15">{{tipo.nombre}}</span>
          </div>
        </ng-container>
      </div>

      <!-- NO HAY tipos documentales -->
      <div *ngIf="!(serieSubserieCU.tiposDocumentales && serieSubserieCU.tiposDocumentales.length)"
        class="mr-2 ml-2 mt-2 mb-2 p-1 ui-messages ui-messages-info ui-corner-all text-center">
        <span class="ui-messages-icon pi pi-info-circle"></span>
        <span class="ui-messages-detail font-size-15 ml-0">
          No hay <strong>tipos documentales</strong> asociados a la serie documental
        </span>
      </div>
    </p-panel>

    <!-- retencion y disposicion final-->
    <div class="ui-g">

      <!-- retencion -->
      <div class="ui-g-6 pt-0">
        <p-panel styleClass="mt-0 mr-2 ml-2 mb-1">
          <p-header>
            <span class="steps-circle">3</span> <span> Retención</span>
          </p-header>

          <!-- AG -->
          <div class="ml-3 mr-3 mt-3">
            <label for="inag" class="steps-st mb-0 mt-1"> Tiempo (años) en archivo de</label>
            <span class="steps-st"> GESTIÓN:</span>
          </div>
          <div class="ml-3 mr-3">
            <input
              type="text"
              id="inag"
              name="inag"
              [(ngModel)]="serieSubserieCU.tiempoArchivoGestion"
              [pKeyFilter]="regex.SOLO_NUMEROS"
              autocomplete="off"
              maxlength="3"
              class="ad-input ad-input-style w-100 font-new-roman"
              placeholder="Campo Numérico"
              [ngClass]="{'ad-input-required': serieSubserieCU.esAGInvalido}"/>
            <div class="focus-border"></div>
          </div>

          <!-- AC -->
          <div class="ml-3 mr-3 mt-4">
            <label for="inac" class="steps-st mb-0 mt-1"> Tiempo (años) en archivo CENTRAL:</label>
          </div>
          <div class="ml-3 mr-3">
            <input
              type="text"
              id="inac"
              name="inac"
              [(ngModel)]="serieSubserieCU.tiempoArchivoCentral"
              [pKeyFilter]="regex.SOLO_NUMEROS"
              autocomplete="off"
              maxlength="3"
              class="ad-input ad-input-style w-100 font-new-roman"
              placeholder="Campo Numérico"
              [ngClass]="{'ad-input-required': serieSubserieCU.esACInvalido}"/>
            <div class="focus-border"></div>
          </div>
          <div style="margin-top: 14.2px"></div>
        </p-panel>
      </div>

      <!-- disposicion final-->
      <div class="ui-g-6 pt-0">
        <p-panel styleClass="mt-0 mr-2">
          <p-header>
            <span class="steps-circle">4</span> <span> Disposición Final</span>
          </p-header>

          <div class="ui-g">

            <!-- conservacion total-->
            <div class="ui-g-12 pt-0 b-clr">
              <div class="ui-g-2 pb-0">
                <admin-inputswitch
                  [isChecked]="serieSubserieCU.conservacionTotal"
                  (switchChange)="serieSubserieCU.conservacionTotal = $event">
                </admin-inputswitch>
              </div>
              <div class="ui-g-10 pb-0 align-middle">
                <span class="steps-st mb-0 mt-1 mr-1">Conservación Total</span>
                <span class="font-new-roman">(CT)</span>
              </div>
            </div>

            <!-- microfilmacion-->
            <div class="ui-g-12 pt-0 b-clr">
              <div class="ui-g-2 pb-0">
                <admin-inputswitch
                  [isChecked]="serieSubserieCU.microfilmacion"
                  (switchChange)="serieSubserieCU.microfilmacion = $event">
                </admin-inputswitch>
              </div>
              <div class="ui-g-10 pb-0 align-middle">
                <span class="steps-st mb-0 mt-1 mr-1">Microfilmación</span>
                <span class="font-new-roman">(M)</span>
              </div>
            </div>

            <!-- seleccion-->
            <div class="ui-g-12 pt-0 b-clr">
              <div class="ui-g-2 pb-0">
                <admin-inputswitch
                  [isChecked]="serieSubserieCU.seleccion"
                  (switchChange)="serieSubserieCU.seleccion = $event">
                </admin-inputswitch>
              </div>
              <div class="ui-g-10 pb-0 align-middle">
                <span class="steps-st mb-0 mt-1 mr-1">Selección</span>
                <span class="font-new-roman">(S)</span>
              </div>
            </div>

            <!-- eliminacion-->
            <div class="ui-g-12 pt-0">
              <div class="ui-g-2 pb-0">
                <admin-inputswitch
                  [isChecked]="serieSubserieCU.eliminacion"
                  (switchChange)="serieSubserieCU.eliminacion = $event">
                </admin-inputswitch>
              </div>
              <div class="ui-g-10 pb-0 align-middle">
                <span class="steps-st mb-0 mt-1 mr-1">Eliminación</span>
                <span class="font-new-roman">(E)</span>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>

    <!-- procedimientos-->
    <p-panel styleClass="mb-2 mt-1 mr-3 ml-3">
      <p-header>
        <span class="steps-circle">5</span> <span> Procedimiento</span>
      </p-header>
      <textarea
        id="inprocedimiento"
        [(ngModel)]="serieSubserieCU.procedimiento"
        class="form-control font-new-roman font-size-16"
        maxlength="500"
        rows="2">
      </textarea>
    </p-panel>

    <!-- btns -->
    <div class="text-center mb-1">
      <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-primary w-180-px mr-2">
        <label class="btn-size-admin"><i class="fa fa-hand-o-left mr-1"></i> Regresar</label>
      </button>
      <button (click)="crearSerieDocumental()" type="button" class="btn btn-sm btn-success w-180-px">
        <label class="btn-size-admin"><i class="fa fa-clipboard mr-1"></i> Crear serie documental</label>
      </button>
    </div>
  </p-panel>
</ng-container>
