<!-- pnl datos nomenclatura -->
<p-panel styleClass="mr-4 ml-4 steps-pnl steps-pnl-main">
  <p-header>
    <span *ngIf="modulo === TK_CONFIGURACIONES" class="steps-circle">1</span> <span> Datos de la Nomenclatura </span>
    <i *ngIf="modificaciones && modificaciones.datosBasicosEditar" class="fa fa-asterisk text-danger font-size-12"></i>
  </p-header>
  <table class="table steps-tbl mb-0">
    <tbody>
      <tr>
        <td>
          <p class="steps-st">Nomenclatura:</p>
        </td>
        <td>
          <p class="st">{{ detalle.nomenclatura }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="steps-st">Descripción:</p>
        </td>
        <td>
          <p class="st">{{ detalle.descripcion }}</p>
        </td>
      </tr>
      <tr *ngIf="modulo === TK_CONFIGURACIONES">
        <td style="width: 20%">
          <p class="steps-st">Consecutivo Inicial:</p>
        </td>
        <td>
          <p class="st">{{ detalle.consecutivoInicial | consecutivo: '' }}</p>
        </td>
      </tr>
      <tr *ngIf="modulo === TK_CORRESPONDENCIA">
        <td style="width: 30%">
          <p class="steps-st">Último Consecutivo Generado:</p>
        </td>
        <td>
          <p class="st">{{ detalle.secuencia | consecutivo: 'No hay consecutivos' }}</p>
        </td>
      </tr>
      <tr *ngIf="modulo === TK_CORRESPONDENCIA">
        <td>
          <p class="steps-st">Cantidad de Consecutivos</p>
        </td>
        <td>
          <p class="st">{{ detalle.cantConsecutivos | consecutivo: 'No hay consecutivos' }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</p-panel>

<!-- pnl Campos -->
<p-panel styleClass="mr-4 ml-4 mt-2 steps-pnl steps-pnl-main">
  <p-header>
    <span *ngIf="modulo === TK_CONFIGURACIONES" class="steps-circle">2</span> <span> Campos Asociados </span>
    <i *ngIf="modificaciones && modificaciones.camposEntradaEditar" class="fa fa-asterisk text-danger font-size-12"></i>
  </p-header>
  <ng-container *ngIf="detalle.campos">
    <p-table
    [value]="detalle.campos"
    [responsive]="true"
    [paginator]="true"
    [alwaysShowPaginator]="false"
    [rows]="5"
    rowHover="true">

      <ng-template pTemplate="header">
        <tr class="text-center">
          <th class="font-new-roman font-size-14">Orden</th>
          <th class="font-new-roman font-size-14">Tipo Campo</th>
          <th class="font-new-roman font-size-14">Nombre Campo</th>
          <th class="font-new-roman font-size-14">Detalle</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-campo let-rowIndex="rowIndex">
        <tr [pSelectableRow]="campo">
          <td style="width: 3%" class="text-center">
            <p class="font-size-14 font-weight-bold">{{ rowIndex + 1 }}</p>
          </td>
          <td style="width: 25%" class="text-center">{{ campo.tipoCampo }}</td>
          <td>{{ campo.nombreCampo }}</td>
          <td style="width: 4%" class="text-center">
            <span (click)="showModalVerDetalle(campo)" class="dtl-round-min">
              <i class="fa fa-arrow-circle-up"></i>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <div *ngIf="!detalle.campos" class="text-center pt-2 pb-2 ">
    <p class="st font-weight-bold font-size-14">No hay campos asociados para la nomenclatura</p>
  </div>
</p-panel>

<!-- modal ver detalle -->
<ng-container *ngIf="verDetalleCampo && verDetalleCampo.data">
  <p-dialog header="Detalle del Campo"
  [(visible)]="verDetalleCampo.isShowModal"
  [modal]="!isModal"
  [autoZIndex]="!isModal"
  responsive="true"
  dismissableMask="true"
  styleClass="child-dl"
  (onHide)="verDetalleCampo.closeModal()">
    <div class="mx-dtl-mdl">
      <admin-detalle-campo [campo]="verDetalleCampo.data" [ocultarItems]="true"></admin-detalle-campo>
    </div>
    <div *ngIf="isModal" class="text-center mt-2 mb-1">
      <button (click)="verDetalleCampo.closeModal()" type="button" class="btn btn-secondary btn-sm">
        <label class="btn-size-admin w-80-px"><i class="fa fa-times"></i> Salir</label>
      </button>
    </div>
  </p-dialog>
</ng-container>
