<!-- div main -->
<div *ngIf="!userAccount.credenciales.administrador" class="w-65 m-auto">

  <!-- datos personales -->
  <p-panel styleClass="pnl-basic pnl-pt">
    <p-header>
      <i class="fa fa-address-book-o align-middle mr-2 ml-2"></i>
      <span class="align-middle">Mis Datos Personales</span>
    </p-header>
    <div class="w-80 m-auto">

      <!-- nombre -->
      <div class="mt-3">
        <label for="inNombre" class="steps-st mt-1"> Nombre Completo: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          [(ngModel)]="datosUserModificar.nombre"
          id="inNombre"
          type="text"
          autocomplete="off"
          maxlength="100"
          adminRequired
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : inNombreInvalido}" />
        <div class="focus-border"></div>
      </div>

      <!-- cargo -->
      <div class="mt-3">
        <label for="inCargo" class="steps-st mt-1"> Cargo: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          [(ngModel)]="datosUserModificar.cargo"
          id="inCargo"
          type="text"
          autocomplete="off"
          maxlength="255"
          adminRequired
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : inNombreInvalido}" />
        <div class="focus-border"></div>
      </div>

      <!-- aplicar cambios -->
      <div class="pt-3 pb-3 text-center">
        <button [disabled]="!isBtnCambiarDatosPersonales" type="button" class="btn btn-sm btn-success w-180-px">
          <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
        </button>
      </div>
    </div>

    <!-- usuario - clave -->
    <div class="ui-g pb-3 bg-cg">

      <!-- usuario only read -->
      <div class="ui-g-6 text-center">
        <div class="mt-2">
          <label class="steps-st mb-0 mt-1"> Usuario Ingreso: </label>
          <label (click)="copyToClipBoard(datosUserModificar.usuarioIngreso,'Usuario Ingreso')" class="font-new-roman font-size-15 copy">
            {{datosUserModificar.usuarioIngreso}}
          </label>
        </div>
        <button type="button" class="btn btn-sm btn-success btn-add w-180-px">
          <label class="btn-size-admin"><i class="fa fa-user"></i> Cambiar Usuario Ingreso</label>
        </button>
      </div>

      <!-- clave only read -->
      <div class="ui-g-6 text-center">
        <div class="mt-2">
          <label class="steps-st mb-0 mt-1"> Contraseña: </label>
          <label class="font-new-roman font-size-15"> **************** </label>
        </div>
        <button type="button" class="btn btn-sm btn-success btn-add w-180-px">
          <label class="btn-size-admin"><i class="fa fa-unlock-alt"></i> Cambiar Contraseña</label>
        </button>
      </div>
    </div>
  </p-panel>
</div>
