<!-- div main -->
<div *ngIf="!userAccount.credenciales.administrador" class="w-65 m-auto">

  <!-- datos personales -->
  <p-panel *ngIf="!cambioClave && !cambioUsuario" styleClass="pnl-basic pnl-pt">
    <p-header>
      <i class="fa fa-address-book-o align-middle mr-2 ml-2"></i>
      <span class="align-middle">Mis Datos Personales</span>
    </p-header>
    <div class="w-80 m-auto">

      <!-- nombre -->
      <div class="mt-3">
        <label for="inNombre" class="steps-st mt-1"> Nombre Completo: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inNombre"
          [(ngModel)]="datosPersonales.nombre"
          (ngModelChange)="changedDatosPersonales()"
          type="text"
          autocomplete="off"
          maxlength="100"
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !datosPersonales.nombre || datosPersonales.nombre.trim().length === 0}" />
        <div class="focus-border"></div>
      </div>

      <!-- cargo -->
      <div class="mt-3">
        <label for="inCargo" class="steps-st mt-1"> Cargo: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inCargo"
          [(ngModel)]="datosPersonales.cargo"
          (ngModelChange)="changedDatosPersonales()"
          type="text"
          autocomplete="off"
          maxlength="255"
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !datosPersonales.cargo || datosPersonales.cargo.trim().length === 0}" />
        <div class="focus-border"></div>
      </div>

      <!-- aplicar cambios -->
      <div class="pt-3 pb-3 text-center">
        <button (click)="modificarDatosPersonales()" [disabled]="!isDatosPersonalesModificado" type="button" class="btn btn-sm btn-success w-180-px">
          <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
        </button>
      </div>
    </div>

    <!-- usuario - clave -->
    <div class="ui-g pb-3 bg-cg">

      <!-- usuario only read -->
      <div class="ui-g-6 text-center">
        <div class="mt-2">
          <label class="steps-st mb-0 mt-1"> Usuario de Ingreso: </label>
          <label (click)="copyToClipBoard(userAccount.usuario.usuarioIngreso,'Usuario Ingreso')" class="font-new-roman font-size-15 copy ml-1">
            {{userAccount.usuario.usuarioIngreso}}
          </label>
        </div>
        <button (click)="abrirPanelCambioUsuario()" type="button" class="btn btn-sm btn-success btn-add w-180-px">
          <label class="btn-size-admin"><i class="fa fa-user"></i> Cambiar Usuario Ingreso</label>
        </button>
      </div>

      <!-- clave only read -->
      <div class="ui-g-6 text-center">
        <div class="mt-2">
          <label class="steps-st mb-0 mt-1"> Contraseña: </label>
          <label class="font-new-roman font-size-15"> **************** </label>
        </div>
        <button (click)="abrirPanelCambioClave()" type="button" class="btn btn-sm btn-success btn-add w-180-px">
          <label class="btn-size-admin"><i class="fa fa-unlock-alt"></i> Cambiar Contraseña</label>
        </button>
      </div>
    </div>
  </p-panel>

  <!-- Contrasenia -->
  <p-panel *ngIf="cambioClave" styleClass="pnl-basic pnl-pt">
    <p-header>
      <i class="fa fa-unlock-alt align-middle mr-2 ml-2"></i>
      <span class="align-middle">Cambiar Contraseña</span>
    </p-header>

    <!-- info -->
    <div class="mt-2 text-center">
      <i class="fa fa-info-circle font-size-18 color-info mr-1"></i>
      <label class="font-new-roman font-size-15"> La <strong>contraseña nueva</strong> debe tener mínimo <strong>12</strong> caracteres sin espacios en blanco </label>
    </div>
    <div class="w-70 m-auto">

      <!-- clave actual -->
      <div class="mt-3">
        <label for="inClaveActual" class="steps-st mb-0 mt-1"> Contraseña actual: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inClaveActual"
          [(ngModel)]="cambioClave.claveActual"
          type="password"
          autocomplete="off"
          maxlength="50"
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !cambioClave.claveActual && isSubmitDone}"
          placeholder="Escribe tu contraseña actual"/>
        <div class="focus-border"></div>
      </div>

      <!-- clave nueva -->
      <div class="mt-4">
        <label for="inClaveNueva" class="steps-st mb-0 mt-1"> Contraseña nueva: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inClaveNueva"
          [(ngModel)]="cambioClave.claveNueva"
          type="password"
          autocomplete="off"
          maxlength="50"
          adminCopyPage
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !cambioClave.claveNueva && isSubmitDone}"
          placeholder="Escribe tu contraseña nueva"/>
        <div class="focus-border"></div>
      </div>

      <!-- confirmar clave -->
      <div class="mt-4">
        <label for="inClaveConf" class="steps-st mb-0 mt-1"> Confirma tu nueva contraseña: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inClaveConf"
          [(ngModel)]="cambioClave.claveVerificacion"
          type="password"
          autocomplete="off"
          maxlength="50"
          adminCopyPage
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !cambioClave.claveVerificacion && isSubmitDone}"
          placeholder="Repite tu contraseña nueva"/>
        <div class="focus-border"></div>
      </div>
    </div>

    <!-- btns regresar - cambiar clave -->
    <div class="pt-3 pb-3 mt-4 text-center bg-cg">
      <button (click)="cerrarPanelCambioClaveUsuario()" type="button" class="btn btn-sm btn-primary w-180-px mr-4">
        <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
      </button>
      <button
        (click)="modificarClave()"
        [disabled]="!cambioClave.claveActual || !cambioClave.claveNueva || !cambioClave.claveVerificacion"
        type="button"
        class="btn btn-sm btn-success w-180-px ml-4">
          <label class="btn-size-admin"><i class="fa fa-unlock-alt"></i> Cambiar Contraseña</label>
      </button>
    </div>
  </p-panel>

  <!-- usuario ingreso -->
  <p-panel *ngIf="cambioUsuario" styleClass="pnl-basic pnl-pt">
    <p-header>
      <i class="fa fa-user align-middle mr-2 ml-2"></i>
      <span class="align-middle">Cambiar Usuario de Ingreso</span>
    </p-header>

    <!-- info -->
    <div class="mt-2 text-center">
      <i class="fa fa-info-circle font-size-18 color-info mr-1"></i>
      <label class="font-new-roman font-size-15"> El <strong>nuevo usuario de ingreso</strong> debe tener mínimo <strong>10</strong> caracteres sin espacios en blanco </label>
    </div>
    <div class="w-70 m-auto">

      <!-- usuario actual only read -->
      <div class="mt-3">
        <label for="userread" class="steps-st mb-0 mt-1"> Usuario actual: </label>
      </div>
      <div>
        <input
          id="userread"
          [(ngModel)]="userAccount.usuario.usuarioIngreso"
          type="text"
          autocomplete="off"
          maxlength="50"
          [readonly]="true"
          class="ad-select w-100 font-new-roman font-size-15 pt-0"/>
      </div>

      <!-- nuevo usuario -->
      <div class="mt-4">
        <label for="inUserNuevo" class="steps-st mb-0 mt-1"> Nuevo usuario: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inUserNuevo"
          [(ngModel)]="cambioUsuario.usuario"
          type="text"
          autocomplete="off"
          maxlength="50"
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !cambioUsuario.usuario && isSubmitDone}"
          placeholder="Escribe tu nuevo usuario de ingreso"/>
        <div class="focus-border"></div>
      </div>

      <!-- clave actual -->
      <div class="mt-4">
        <label for="inClaveActual" class="steps-st mb-0 mt-1"> Contraseña actual: </label>
        <i class="fa fa-asterisk text-danger font-size-10"></i>
      </div>
      <div>
        <input
          id="inClaveActual"
          [(ngModel)]="cambioUsuario.claveActual"
          type="password"
          autocomplete="new-password"
          maxlength="50"
          class="ad-input ad-input-style w-100 font-new-roman font-size-15 pt-0"
          [ngClass]="{'ad-input-required' : !cambioUsuario.claveActual && isSubmitDone}"
          placeholder="Escribe tu contraseña actual"/>
        <div class="focus-border"></div>
      </div>
    </div>

    <!-- btns regresar - cambiar usuario -->
    <div class="pt-3 pb-3 mt-4 text-center bg-cg">
      <button (click)="cerrarPanelCambioClaveUsuario()" type="button" class="btn btn-sm btn-primary w-180-px mr-4">
        <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
      </button>
      <button
        (click)="modificarUsuarioIngreso()"
        [disabled]="!cambioUsuario.claveActual || !cambioUsuario.usuario || cambioUsuario.usuario === userAccount.usuario.usuarioIngreso"
        type="button"
        class="btn btn-sm btn-success w-180-px ml-4">
          <label class="btn-size-admin"><i class="fa fa-user"></i> Cambiar Usuario Ingreso</label>
      </button>
    </div>
  </p-panel>
</div>
