<div *ngIf="!userAccount.credenciales.administrador;">

  <!-- panel modificacion de la cuenta -->
  <p-panel [toggleable]="true" (onBeforeToggle)="togglePaneles()" [collapsed]="!isPanelClaveClose">
    <p-header>
      <i class="fa fa-pencil-square-o font-size-18"></i>
      <span class="font-admin font-size-14 mx-1"> Modificar Datos de la Cuenta</span>
    </p-header>

    <div class="w-80 mx-auto">
      <p class="info-text font-new-roman text-center mb-4">
        <i class="fa fa-info-circle font-size-16 color-teal"></i>
        <strong> El Usuario de Ingreso debe tener al menos 10 caracteres y no puede contener espacios en blanco</strong>
      </p>

      <form
        #formCuenta="ngForm" name="formCuenta"
        novalidate (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="limpiarMensajes() && formCuenta.form.valid && modificarDatosCuenta()">

        <!-- Nombre - user -->
        <div class="form-row justify-content-center mb-3">
          <div class="form-group col-md-6">
            <label for="inNombre" class="ad-input-label font-weight-bold">Nombre Completo:</label>
            <input
              id="inNombre"
              type="text"
              autocomplete="off"
              name="inNombre"
              #inNombre="ngModel"
              [(ngModel)]="datosUserModificar.nombre"
              maxlength="100"
              adminRequired
              [readonly]="soloLecturaCuenta"
              class="ad-input ad-input-style w-100"
              [ngClass]="{'ad-input-required' : (formCuenta.submitted && !inNombre.valid)}" />
            <div class="focus-border"></div>
          </div>
        </div>

        <!-- usuario - ingreso -->
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <label class="ad-input-label font-weight-bold" for="inUserIngreso">Usuario de Ingreso:</label>
            <input
              id="inUserIngreso"
              type="text"
              autocomplete="off"
              name="inUserIngreso"
              #inUserIngreso="ngModel"
              [(ngModel)]="datosUserModificar.usuarioIngreso"
              maxlength="50"
              adminRequired
              [readonly]="soloLecturaCuenta"
              class="ad-input ad-input-style w-100"
              [ngClass]="{'ad-input-required' : (formCuenta.submitted && !inUserIngreso.valid)}"/>
            <div class="focus-border"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12 text-center margin-name">

            <!-- toggle - activar-desactivar -->
            <div class="toggle btn"
              (click)="habilitarEdicionPanelCuenta(formCuenta)"
              [ngClass]="soloLecturaCuenta?'btn-round-teal':'btn-secondary off'">
              <div class="toggle-group">
                <label class="btn-toggle btn-round-teal toggle-on font-new-roman">
                  <i class="fa fa-pencil"></i> Activar Edición
                </label>
                <label class="btn-toggle btn-secondary active toggle-off font-new-roman">
                  <i class="fa fa-pencil"></i> Desactivar Edición
                </label>
                <span class="toggle-handle btn btn-handle"></span>
              </div>
            </div>

            <!-- aplicar - cambios -->
            <button type="button" (click)="formCuenta.onSubmit()" [disabled]="soloLecturaCuenta" class="btn btn-primary btn-sm mx-3">
              <i class="fa fa-user-circle-o"></i>
              <span class="btn-size-admin"> Aplicar Cambios</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </p-panel>

  <!-- panel modificacion de la contrasenia -->
  <p-panel [toggleable]="true" (onBeforeToggle)="togglePaneles()" [collapsed]="isPanelClaveClose">
    <p-header>
      <i class="fa fa-unlock-alt font-size-18"></i>
      <span class="font-admin font-size-14 mx-1"> Modificar Contraseña</span>
    </p-header>

    <div class="w-80 mx-auto">
      <p class="info-text font-new-roman text-center mb-4">
        <i class="fa fa-info-circle font-size-16 color-teal"></i>
        <strong> La nueva contraseña debe tener al menos 12 caracteres y no puede contener espacios en blanco</strong>
      </p>

      <form
        #formClave="ngForm" name="formClave"
        novalidate (keydown.enter)="$event.preventDefault()"
        (ngSubmit)="limpiarMensajes() && formClave.form.valid && modificarClaveIngreso(formClave)">

        <!-- clave - actual -->
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <label class="ad-input-label font-weight-bold" for="inClaveActual">Contraseña Actual:</label>
            <input
              id="inClaveActual"
              type="password"
              autocomplete="off"
              name="inClaveActual"
              #inClaveActual="ngModel"
              [(ngModel)]="cambioClave.claveActual"
              maxlength="50"
              adminRequired
              [readonly]="soloLecturaClave"
              class="ad-input ad-input-style w-100"
              [ngClass]="{'ad-input-required' : (formClave.submitted && !inClaveActual.valid)}"/>
            <div class="focus-border"></div>
          </div>
        </div>

        <!-- nueva - clave -->
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <label class="ad-input-label font-weight-bold" for="inClaveNueva">Nueva Contraseña:</label>
            <input
              id="inClaveNueva"
              type="password"
              autocomplete="off"
              name="inClaveNueva"
              #inClaveNueva="ngModel"
              [(ngModel)]="cambioClave.claveNueva"
              maxlength="50"
              adminRequired
              [readonly]="soloLecturaClave"
              class="ad-input ad-input-style w-100"
              [ngClass]="{'ad-input-required' : (formClave.submitted && !inClaveNueva.valid)}"/>
            <div class="focus-border"></div>
          </div>
        </div>

        <!-- confirmar - clave -->
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <label class="ad-input-label font-weight-bold" for="inConfClave">Confirmar Contraseña:</label>
            <input
              id="inConfClave"
              type="password"
              autocomplete="off"
              name="inConfClave"
              #inConfClave="ngModel"
              [(ngModel)]="cambioClave.claveVerificacion"
              maxlength="50"
              adminRequired
              [readonly]="soloLecturaClave"
              class="ad-input ad-input-style w-100"
              [ngClass]="{'ad-input-required' : (formClave.submitted && !inConfClave.valid)}"/>
            <div class="focus-border"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12 text-center margin-name">

            <!-- toggle - activar-desactivar -->
            <div class="toggle btn"
              [ngClass]="soloLecturaClave?'btn-round-teal':'btn-secondary off'"
              (click)="habilitarEdicionPanelClave(formClave)">
              <div class="toggle-group">
                <label class="btn-toggle btn-round-teal toggle-on font-new-roman">
                  <i class="fa fa-pencil"></i> Activar Edición
                </label>
                <label class="btn-toggle btn-secondary active toggle-off font-new-roman">
                  <i class="fa fa-pencil"></i> Desactivar Edición
                </label>
                <span class="toggle-handle btn btn-handle"></span>
              </div>
            </div>

            <!-- cambiar - contrasenia -->
            <button (click)="formClave.onSubmit()" type="button" class="btn btn-primary btn-sm mx-3" [disabled]="soloLecturaClave">
              <i class="fa fa-unlock-alt"></i>
              <span class="btn-size-admin"> Cambiar Contraseña</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </p-panel>
</div>
