<!-- Logo del user para dispositivos resolucion grande -->
<a class="logo-container" *ngIf="shellState.isGrande()">
  <img class="logo" src="assets/avatar.png" alt="user">
  <span *ngIf="!userAccountState.credenciales?.administrador">{{userAccountState.usuario?.nombre}}</span>
  <span *ngIf="userAccountState.credenciales?.administrador">Administrador</span>
</a>

<!-- Logo del user para dispositivos resolucion pequenio -->
<a class="logo-container-small" *ngIf="!shellState.isGrande()">
  <img class="logo-small" src="assets/avatar.png" alt="user">
</a>

<!-- Icono para el menu de user-settings -->
<a>
  <i class="fa fa-ellipsis-v pnl-user" (click)="menuUserSettings.toggle($event)"></i>
  <p-menu #menuUserSettings id="menuUserSettings" [popup]="true" [model]="items"></p-menu>
</a>
