<!-- Logo del user para dispositivos resolucion grande -->
<a class="logo-container" *ngIf="shellState.screen.isBigScreen()">
  <span *ngIf="!shellState.userAccount.credenciales?.administrador"><img class="logo" src="assets/avatar.png" alt="user"> {{shellState.userAccount.usuario?.nombre}}</span>
  <span *ngIf="shellState.userAccount.credenciales?.administrador"><i class="fa fa-cog icon-admin"></i> Administrador</span>
</a>

<!-- Logo del user para dispositivos resolucion pequenio -->
<a class="logo-container-small" *ngIf="!shellState.screen.isBigScreen()">
  <img *ngIf="!shellState.userAccount.credenciales?.administrador" class="logo-small" src="assets/avatar.png" alt="user">
  <span *ngIf="shellState.userAccount.credenciales?.administrador"><i class="fa fa-cog icon-admin"></i> Admin</span>
</a>

<!-- Icono para el menu de user-settings -->
<a>
  <i class="fa fa-ellipsis-v pnl-user" (click)="menuUserSettings.toggle($event)"></i>
  <p-menu #menuUserSettings id="menuUserSettings" [popup]="true" [model]="items"></p-menu>
</a>
