<!-- panel lista de usuarios -->
<div *ngIf="!usuarioCrear">

  <!-- boton crear usuario -->
  <div class="text-right btn-registrar-user">
    <button type="button" class="btn btn-success btn-sm" (click)="showPanelCrearUsuario()">
      <label class="btn-size-admin"><i class="fa fa-user-plus"></i> Registrar Usuario</label>
    </button>
  </div>

  <!-- tabla - usuarios -->
  <p-table id="tbl-users"
    [value]="usuarios"
    [responsive]="true"
    [paginator]="true"
    [rows]="5"
    selectionMode="single">

    <ng-template pTemplate="caption">
      <i class="fa fa-users"> <span class="font-admin"> Usuarios Registrados</span></i>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Nombre Completo</th>
        <th>Usuario de Ingreso</th>
        <th style="width: 4%">Estado</th>
        <th style="width: 4%">Módulos Asignados</th>
        <th style="width: 4%">Generar Clave</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td>{{user.nombre}}</td>
        <td>{{user.usuarioIngreso}}</td>
        <td>
          <button (click)="cambiarEstadoUsuario(user)" *ngIf="user.estado === 1" type="button" class="btn btn-outline-success btn-sm btn-block">Activo</button>
          <button (click)="cambiarEstadoUsuario(user)" *ngIf="user.estado === 2" type="button" class="btn btn-outline-danger btn-sm btn-block">Inactivo</button>
        </td>
        <td class="text-center">
          <button type="button" (click)="showModalEdicionModulos(user)" class="btn btn-sm btn-round-table btn-round-teal">
            <i class="pi pi-external-link icon-round-table"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="generarNuevaClave(user)" type="button" class="btn btn-sm btn-round-table btn-round-teal">
            <i class="pi pi-unlock icon-round-table-2"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- panel creacion de usuarios -->
<div *ngIf="usuarioCrear">
  <p-panel>
    <p-header>
      <i class="fa fa-user-plus font-size-14"> <span class="font-admin"> Creación de Usuario</span></i>
    </p-header>

    <p class="info-text">
      <i class="fa fa-info-circle font-size-16"></i>
      <strong> El sistema generará la contraseña para el nuevo usuario, Una vez que el usuario ingrese al sistema podrá cambiar la contraseña</strong>
    </p>

    <form
      #formUser="ngForm" name="formUser"
      novalidate (keydown.enter)="$event.preventDefault()"
      (ngSubmit)="limpiarMensajes() && formUser.form.valid && showModalCrearUsuario(formUser)">

      <div class="form-row">
        <!-- nombre -->
        <div class="form-group col-md-6">
          <label class="col-form-label font-weight-bold" for="username">Nombre Completo: *</label>
          <input type="text"
            name="username"
            #username="ngModel"
            [(ngModel)]="usuarioCrear.nombre"
            maxlength="100"
            adminRequired
            adminAutofocus
            class="form-control font-size-14"
            [ngClass]="(formUser.submitted && !username.valid) ? 'input-invalido' : 'input-valido'" />
        </div>

        <!-- usuario - ingreso -->
        <div class="form-group col-md-6">
          <label class="col-form-label font-weight-bold" for="useringreso">Usuario de Ingreso: *</label>
          <input type="text"
            name="useringreso"
            #useringreso="ngModel"
            [(ngModel)]="usuarioCrear.usuarioIngreso"
            maxlength="50"
            adminRequired
            class="form-control font-size-14"
            [ngClass]="(formUser.submitted && !useringreso.valid) ? 'input-invalido' : 'input-valido'" />
        </div>
      </div>

      <!-- asignacion - modulos -->
      <div>
        <p class="text-assign-modulos"><i class="fa fa-cog"></i> Asigne los módulos para el nuevo usuario</p>
        <ng-container *ngTemplateOutlet="tblModulos"></ng-container>
      </div>

      <!-- botones creacion - regresar -->
      <div class="text-center">
        <button type="button" class="btn btn-sm btn-regresar btn-round-teal" (click)="closePanelCrearUsuario()">
          <label class="btn-size-admin"><i class="fa fa-backward"></i> Regresar</label>
        </button>
        <button type="submit" class="btn btn-success btn-sm btn-crear-user">
          <i class="fa fa-user-plus"></i>
          <span class="btn-size-admin"> Crear Usuario</span>
        </button>
      </div>
    </form>
  </p-panel>
</div>

<!-- modal de confirmacion de crear usuario -->
<p-dialog header="Ventana de Confirmación" [(visible)]="isModalCrearUsuario" *ngIf="usuarioCrear" modal="true">

  <div class="text-center title-modal-creacion">
    <p class="font-weight-bold font-new-roman font-size-16">¿Está seguro de crear el usuario con los siguientes datos?</p>
  </div>

  <div class="form-row nombre-usuario-in">
    <div class="form-group col-md-7">
      <p><strong>Nombre Completo:</strong></p>
      {{usuarioCrear.nombre}}
    </div>
    <div class="form-group col-md-5">
      <p><strong>Usuario de Ingreso:</strong></p>
      {{usuarioCrear.usuarioIngreso}}
    </div>
  </div>

  <div class="form-row border-bottom-mdl">
    <div class="form-group col-md-12">
      <p class="text-center font-weight-bold font-new-roman font-size-16 margin-bottom-mdl">Módulos asignados</p>
      <div class="custom-control custom-control-inline">
        <p-checkbox [ngModel]="selectedModulos" label="Correspondencia" value="1" disabled></p-checkbox>
      </div>
      <div class="custom-control custom-control-inline">
        <p-checkbox [ngModel]="selectedModulos" label="Archivo de Gestión" value="2" disabled></p-checkbox>
      </div>
      <div class="custom-control custom-control-inline">
        <p-checkbox [ngModel]="selectedModulos" label="Reportes" value="3" disabled></p-checkbox>
      </div>
      <div class="custom-control custom-control-inline">
        <p-checkbox [ngModel]="selectedModulos" label="Configuraciones" value="4" disabled></p-checkbox>
      </div>
    </div>
  </div>

  <div class="text-center margin-top-mdl">
    <button type="button" class="btn btn-success btn-sm btn-regresar" (click)="crearUsuario()">
      <label class="btn-size-admin"><i class="fa fa-user-plus"></i> Crear Usuario</label>
    </button>
    <button type="button" class="btn btn-secondary btn-sm btn-crear-user" (click)="closeModalCrearUsuario()">
      <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
    </button>
  </div>
</p-dialog>

<!-- modal de edicion de modulos -->
<p-dialog header="Edición de Módulos" [(visible)]="isModalEdicionModulos" *ngIf="usuarioEdicionModulos" modal="true">

  <div class="text-center">
    <p class="font-weight-bold font-new-roman font-size-16">{{usuarioEdicionModulos.nombre}}</p>
  </div>

  <div>
    <p class="text-assign-modulos"><i class="fa fa-cog"></i> Módulos Asignados</p>
    <ng-container *ngTemplateOutlet="tblModulos"></ng-container>
  </div>

  <div class="text-center margin-top-mdl">
    <button type="button" class="btn btn-success btn-sm btn-regresar" (click)="editarModulos()">
      <label class="btn-size-admin"><i class="fa fa-pencil"></i> Editar</label>
    </button>
    <button type="button" class="btn btn-secondary btn-sm btn-crear-user" (click)="closeModalEdicionModulos()">
      <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
    </button>
  </div>
</p-dialog>

<!-- template asignacion - edicion modulos -->
<ng-template #tblModulos>
  <table class="table table-hover tbl-modulos">
    <tbody>
      <tr>
        <td>
          <p-checkbox name="group" [(ngModel)]="selectedModulos" label="Correspondencia" value="1"></p-checkbox>
        </td>
        <td>
          <p>Módulo que permite administrar los consecutivos de correspondencia tales como solicitar, modificar, anular</p>
        </td>
      </tr>
      <tr>
        <td>
          <p-checkbox name="group" label="Archivo de Gestión" [(ngModel)]="selectedModulos" value="2"></p-checkbox>
        </td>
        <td>
          <p>Módulo que permite archivar los consecutivos de correspondencia solicitados en series documentales</p>
        </td>
      </tr>
      <tr>
        <td>
          <p-checkbox name="group" label="Reportes" [(ngModel)]="selectedModulos" value="3"></p-checkbox>
        </td>
        <td>
          <p>Módulo que permite generar reportes de los consecutivos de correspondencia solicitados en diferentes formatos</p>
        </td>
      </tr>
      <tr>
        <td>
          <p-checkbox name="group" label="Configuraciones" [(ngModel)]="selectedModulos" value="4"></p-checkbox>
        </td>
        <td>
          <p>Módulo administrativo del sistema, solo para usuarios con ROL de administrador</p>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
