<!-- container lista de usuarios -->
<ng-container *ngIf="!isCreacion && !isEdicion">

  <!-- boton crear usuario -->
  <div class="text-right mb-1">
    <button (click)="showPanelCreacion()" type="button" class="btn btn-success btn-sm">
      <label class="btn-size-admin"><i class="fa fa-user-plus"></i> Registrar Usuario</label>
    </button>
  </div>

  <!-- tabla - usuarios -->
  <p-table [value]="usuarios"
    [responsive]="true"
    [paginator]="true"
    [rows]="10"
    rowHover="true">

    <ng-template pTemplate="caption">
      <i class="fa fa-users"> <span class="font-admin"> Usuarios Registrados</span></i>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Nombre Completo</th>
        <th>Usuario de Ingreso</th>
        <th style="width: 4%">Estado</th>
        <th style="width: 4%">Detalle</th>
        <th style="width: 4%">Editar</th>
        <th style="width: 4%">Generar Clave</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td>{{user.nombre}}</td>
        <td>{{user.usuarioIngreso}}</td>
        <td>
          <button (click)="cambiarEstadoUsuario(user)" *ngIf="user.estado === 1" type="button" class="btn btn-outline-success btn-sm btn-block">Activo</button>
          <button (click)="cambiarEstadoUsuario(user)" *ngIf="user.estado === 2" type="button" class="btn btn-outline-danger btn-sm btn-block">Inactivo</button>
        </td>
        <td class="text-center">
          <button (click)="showModalVerDetalle(user)" type="button" class="btn btn-sm btn-round-table btn-round-teal">
            <i class="pi pi-external-link icon-round-table"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="showPanelEdicion(user)" type="button" class="btn btn-sm btn-round-table btn-round-edit">
            <i class="pi pi-pencil icon-round-edit font-size-22"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="generarNuevaClave(user)" type="button" class="btn btn-sm btn-round-table btn-round-edit">
            <i class="pi pi-unlock icon-round-table-2"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="6">
          <p class="st font-weight-bold font-size-14 mb-0 text-center">No hay usuarios parametrizados en el sistema</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<!-- container crear o editar usuarios -->
<ng-container *ngIf="isCreacion || isEdicion">

  <!-- panel principal -->
  <p-panel styleClass="steps-pnl-main">
    <p-header>
      <i class="fa fa-users font-size-14"><span class="font-admin"> {{isCreacion ? 'Creación del Usuario': 'Edición del Usuario'}}</span></i>
    </p-header>

    <!-- pasos de creacion o edicion -->
    <p-steps [styleClass]="stepsModel.styleClass" [model]="stepsModel.steps" [(activeIndex)]="stepsModel.activeIndex"></p-steps>

    <!-- Paso 1 Datos Usuario-->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_UNO">
      <form name="formUser" #formUser="ngForm"
      (ngSubmit)="limpiarMensajes() && formUser.form.valid && siguienteDatosUser()"
      (keydown.enter)="$event.preventDefault()" novalidate>

        <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
          <p-header>
            <i class="fa fa-info-circle font-size-18"></i>
            <span> Datos del usuario, todos los valores son obligatorios</span>
          </p-header>

          <table class="table steps-tbl mb-0">
            <tbody>
              <!-- nombre -->
              <tr>
                <td style="width: 17%">
                  <label for="username" class="steps-st mb-0">Nombre Completo:</label>
                </td>
                <td>
                  <input type="text"
                    id="username"
                    name="username"
                    [(ngModel)]="usuarioCU.nombre"
                    #username="ngModel"
                    maxlength="100"
                    adminRequired
                    adminAutofocus
                    autocomplete="off"
                    class="ad-input ad-input-style w-100"
                    [ngClass]="{'ad-input-required' : (formUser.submitted && !username.valid)}"/>
                  <div class="focus-border"></div>
                </td>
              </tr>

              <!-- usuario - ingreso -->
              <tr>
                <td style="width: 17%">
                  <label for="useringreso" class="steps-st mb-0">Usuario Ingreso:</label>
                </td>
                <td>
                  <input type="text"
                    id="useringreso"
                    name="useringreso"
                    [(ngModel)]="usuarioCU.usuarioIngreso"
                    #useringreso="ngModel"
                    maxlength="50"
                    adminRequired
                    autocomplete="off"
                    class="ad-input ad-input-style w-100"
                    [ngClass]="{'ad-input-required' : (formUser.submitted && !useringreso.valid)}"/>
                  <div class="focus-border"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </p-panel>

        <!-- botones salir - next-->
        <div class="text-center mb-1">
          <button type="button" (click)="closePanelCU()" class="btn btn-sm btn-secondary mr-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button type="button" (click)="formUser.onSubmit()" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </form>
    </ng-container>

    <!-- Paso 2 modulos -->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_DOS">
      <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
        <p-header>
          <i class="fa fa-info-circle font-size-18"></i>
          <span> Asigne los módulos para el usuario</span>
        </p-header>

        <!-- lista modulos -->
        <table class="table steps-tbl table-hover mb-0">
          <tbody>
            <tr *ngFor="let modulo of selectedModulos.modulos">
              <td style="width: 5%">
                <admin-inputswitch
                  [isChecked]="modulo.aplica"
                  (switchChange)="modulo.aplica = $event">
                </admin-inputswitch>
              </td>
              <td style="width: 18%">
                <p class="font-new-roman font-size-15 font-weight-bold">{{ modulo.nombre }}</p>
              </td>
              <td>
                <p class="font-new-roman font-size-15">{{ modulo.descripcion }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </p-panel>

      <!-- botones salir - next-->
      <div class="text-center mt-2 mb-1">
        <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
        </button>
        <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
          <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
        </button>
        <button (click)="siguienteModulos()" type="button" class="btn btn-sm btn-primary w-100-px">
          <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
        </button>
      </div>
    </ng-container>

    <!-- Paso 3 confirmacion -->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.ulitmoIndex">

      <!-- detalle - user -->
      <admin-detalle-user [user]="usuarioCU" [selectedModulos]="selectedModulos" [modificaciones]="usuarioEditarOrigen"></admin-detalle-user>

      <!-- botones salir - next-->
      <div class="text-center mt-2 mb-1">
        <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
        </button>
        <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
          <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
        </button>
        <button (click)="crearUsuario()" *ngIf="isCreacion" type="button" class="btn btn-success btn-sm">
          <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Usuario</label>
        </button>
        <button (click)="editarUsuario()" *ngIf="isEdicion" [disabled]="!(usuarioEditarOrigen.datosBasicosEditar || usuarioEditarOrigen.modulosEditar)" type="button" class="btn btn-success btn-sm">
          <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
        </button>
      </div>
    </ng-container>
  </p-panel>
</ng-container>

<!-- modal ver detalle -->
<p-dialog header="Detalle del Usuario"
  [(visible)]="isModalVerDetalle"
  *ngIf="userVerDetalle"
  modal="true"
  responsive="true"
  dismissableMask="true"
  styleClass="splr-dl"
  (onHide)="closeModalVerDetalle()">
    <admin-detalle-user [user]="userVerDetalle" [selectedModulos]="selectedModulos"></admin-detalle-user>
</p-dialog>
