.lbl-mdl {
  font-family: Times, Times New Roman, serif;
  font-size: 15px;
}

.text-assign-modulos {
  font-size: 14px;
  line-height: 1.8;
  font-weight: bold;
  text-align: center;
}

.btn-regresar {
  margin-right: 10px;
  min-width: 8em;
}

.btn-crear-user {
  min-width: 8em;
}

.nombre-usuario-in {
  border-bottom: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
}

.border-bottom-mdl {
  border-bottom: 1px solid #c8c8c8;
}

.info-text {
  font-size: 14px;
  margin-bottom: 20px !important;
  text-align: center;
  font-family: Times, Times New Roman, serif !important;
}

.icon-sel {
  color: #00b94a;
  font-size: 24px
}

.icon-nosel {
  color: #ef0000;
  font-size: 24px
}

.table-modulos td{
  padding: .5rem !important;
  vertical-align: middle !important;
}
