<!-- container lista de campos -->
<ng-container *ngIf="!isCreacion && !isEdicion">

  <!-- boton crear campo -->
  <div class="text-right mb-1">
    <button (click)="showPanelCreacion()" type="button" class="btn btn-success btn-sm">
      <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Campo</label>
    </button>
  </div>

  <!-- tabla - usuarios -->
  <p-table [value]="campos"
    styleClass="tbl-admin"
    [responsive]="true"
    [paginator]="true"
    [rows]="10"
    selectionMode="single">

    <ng-template pTemplate="caption">
      <i class="fa fa-list-alt"><span class="font-admin"> Campos de Entrada</span></i>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Tipo de Campo</th>
        <th>Nombre del Campo</th>
        <th style="width: 4%">Detalle</th>
        <th style="width: 4%">Editar</th>
        <th style="width: 4%">Eliminar</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-campo>
      <tr [pSelectableRow]="campo">
        <td>{{ campo.tipoCampoNombre }}</td>
        <td>{{ campo.nombre }}</td>
        <td class="text-center">
          <button (click)="showModalVerDetalle(campo)" type="button" class="btn btn-sm btn-round-table btn-round-teal">
            <i class="pi pi-external-link icon-round-table"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="showPanelEdicion(campo)" type="button" class="btn btn-sm btn-round-table btn-round-edit">
            <i class="pi pi-pencil icon-round-edit font-size-22"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="eliminarCampo(campo)" type="button" class="btn btn-sm btn-round-table btn-round-del">
            <i class="pi pi-times icon-round-del"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<!-- container crear o editar campos -->
<ng-container *ngIf="isCreacion || isEdicion">

  <!-- panel principal -->
  <p-panel styleClass="steps-pnl-main">
    <p-header>
      <i class="fa fa-list-alt font-size-14"><span class="font-admin"> {{isCreacion ? 'Creación del Campo': 'Edición del Campo'}}</span></i>
    </p-header>

    <!-- pasos de creacion o edicion -->
    <p-steps [styleClass]="stepsModel.styleClass" [model]="stepsModel.steps" [(activeIndex)]="stepsModel.activeIndex"></p-steps>
    <div class="mh-pnl-create">

      <!-- Paso 1 Datos campo-->
      <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_UNO">
        <form name="formDatos" #formDatos="ngForm"
          (ngSubmit)="limpiarMensajes() && formDatos.form.valid && siguienteDatosCampo()"
          (keydown.enter)="$event.preventDefault()" novalidate>

          <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
            <p-header>
              <i class="fa fa-info-circle font-size-18"></i>
              <span> Datos del campo, todos los valores son obligatorios</span>
            </p-header>

            <table class="table steps-tbl mb-0">
              <tbody>
                <!-- Tipo -->
                <tr>
                  <td style="width: 8%">
                    <p class="steps-st">Tipo:</p>
                  </td>
                  <ng-container *ngIf="isEdicion; else ref_tipo_campo">
                    <td>
                      <p class="steps-st">{{campoCU.tipoCampoNombre}}</p>
                    </td>
                  </ng-container>
                  <ng-template #ref_tipo_campo>
                    <td>
                      <div class="form-row">
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CAMPO_TEXTO"
                            label="Campo de Texto"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_LISTA_DESPLEGABLE"
                            label="Lista Desplegable"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CASILLA_VERIFICACION"
                            label="Casilla de Verificación"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div>
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CAMPO_FECHA"
                            label="Campo de Fecha"
                            name="campos">
                          </p-radioButton>
                        </div>
                      </div>
                    </td>
                  </ng-template>
                </tr>

                <!-- nombre -->
                <tr>
                  <td style="width: 8%">
                    <label for="cnombre" class="steps-st mb-0">Nombre:</label>
                  </td>
                  <td>
                    <input type="text"
                      id="cnombre"
                      name="cnombre"
                      [(ngModel)]="campoCU.nombre"
                      #cnombre="ngModel"
                      maxlength="100"
                      adminRequired
                      adminAutofocus
                      autocomplete="off"
                      class="ad-input ad-input-style w-100"
                      [ngClass]="{'ad-input-required': formDatos.submitted && !cnombre.valid}" />
                    <div class="focus-border"></div>
                  </td>
                </tr>

                <!-- descripcion -->
                <tr>
                  <td style="width: 8%">
                    <label for="cdescri" class="steps-st mb-0">Descripción:</label>
                  </td>
                  <td>
                    <input type="text"
                      id="cdescri"
                      name="cdescri"
                      [(ngModel)]="campoCU.descripcion"
                      #cdescri="ngModel"
                      maxlength="255"
                      adminRequired
                      autocomplete="off"
                      class="ad-input ad-input-style w-100"
                      [ngClass]="{'ad-input-required': formDatos.submitted && !cdescri.valid}" />
                    <div class="focus-border"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </p-panel>

          <!-- botones salir - next-->
          <div class="text-center mb-1">
            <button type="button" (click)="closePanelCU()" class="btn btn-sm btn-secondary mr-1 w-100-px">
              <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
            </button>
            <button type="button" (click)="formDatos.onSubmit()" class="btn btn-sm btn-primary w-100-px">
              <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
            </button>
          </div>
        </form>
      </ng-container>

      <!-- Paso 2 Restricciones -->
      <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_DOS">
        <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
          <p-header>
            <i class="fa fa-info-circle font-size-18"></i>
            <span> Asigne las restricciones para el campo</span>
          </p-header>

          <!-- lista Restricciones -->
          <table class="table steps-tbl table-hover mb-0">
            <tbody>
              <tr *ngFor="let restriccion of campoCU.restricciones">
                <td style="width: 8%">
                  <admin-inputswitch
                    [isChecked]="restriccion.aplica"
                    (switchChange)="restriccion.aplica = $event">
                  </admin-inputswitch>
                </td>
                <td>
                  <p class="sub-title-page">{{ restriccion.descripcion }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </p-panel>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="siguienteRestricciones()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </ng-container>

      <!-- Paso 3 agregar items -->
      <ng-container *ngIf="campoCU.tipoCampo === ID_LISTA_DESPLEGABLE && stepsModel.activeIndex === stepsModel.STEP_TRES">
        <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
          <p-header>
            <i class="fa fa-info-circle font-size-18"></i>
            <span> Agrege los ítems asociados al nuevo campo</span>
          </p-header>

          <!-- input - button -->
          <table class="table steps-tbl mb-0">
            <tbody>
              <tr>
                <td style="width: 10%">
                  <label for="inItem" class="steps-st mb-0">Nuevo Ítem:</label>
                </td>
                <td>
                  <input type="text"
                    id="inItem"
                    #inItem
                    maxlength="255"
                    adminAutofocus
                    autocomplete="off"
                    class="ad-input ad-input-style w-100" />
                  <div class="focus-border"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="agregarItem(inItem.value); inItem.value=null; tblitems.reset()" type="button" class="btn btn-sm btn-success ml-2 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Agregar</label>
          </button>

          <!-- lista items -->
          <p-table
            [value]="campoCU.items"
            [responsive]="true"
            [paginator]="true"
            [rows]="5" #tblitems
            [alwaysShowPaginator]="false"
            selectionMode="single"
            styleClass="ml-2 mr-2 mb-2 tbl-admin">

            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr [pSelectableRow]="item">
                <td style="width: 4%">{{ rowIndex + 1 }}</td>
                <td>{{ item.valor }}</td>
                <td style="width: 4%" class="text-center">
                  <span (click)="eliminarItem(item); tblitems.reset()" class="del-round-min">
                    <i class="pi pi-times del-round-min-pi"></i>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-panel>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="siguienteAgregarItems()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </ng-container>

      <!-- Paso 4 confirmacion -->
      <ng-container *ngIf="stepsModel.activeIndex === stepsModel.ulitmoIndex">

        <!-- detalle - campo -->
        <admin-detalle-campo [campo]="campoCU"></admin-detalle-campo>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="crearCampoEntrada()" *ngIf="isCreacion" type="button" class="btn btn-success btn-sm">
            <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Campo</label>
          </button>
          <button (click)="editarCampoEntrada()" *ngIf="isEdicion" [disabled]="!(campoEditarOrigen.datosBasicosEditar || campoEditarOrigen.restriccionesEditar || campoEditarOrigen.itemsEditar)" type="button" class="btn btn-success btn-sm">
            <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
          </button>
        </div>
      </ng-container>
    </div>
  </p-panel>
</ng-container>

<!-- modal ver detalle -->
<p-dialog header="Detalle del Campo"
  [(visible)]="isModalVerDetalle"
  *ngIf="campoVerDetalle"
  modal="true"
  responsive="true"
  dismissableMask="true"
  styleClass="splr-dl"
  (onHide)="closeModalVerDetalle()">
    <div class="mx-w-mdl">
      <admin-detalle-campo [campo]="campoVerDetalle"></admin-detalle-campo>
    </div>
</p-dialog>
