<!-- container lista de campos -->
<ng-container *ngIf="!isCreacion && !isEdicion">

  <!-- boton crear campo -->
  <div class="text-right mb-1">
    <button (click)="showPanelCreacion()" type="button" class="btn btn-success btn-sm">
      <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Campo</label>
    </button>
  </div>

  <!-- tabla - campos -->
  <p-table [value]="campos"
    [responsive]="true"
    [paginator]="true"
    [rows]="10"
    [alwaysShowPaginator]="false"
    rowHover="true">

    <ng-template pTemplate="caption">
      <i class="fa fa-list-alt"><span class="font-admin"> Campos de Entrada</span></i>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th style="width: 18%">Tipo de Campo</th>
        <th>Nombre del Campo</th>
        <th style="width: 4%">Editar</th>
        <th style="width: 4%">Eliminar</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-campo>
      <tr [pSelectableRow]="campo">
        <td class="text-center">{{ campo.tipoCampoNombre }}</td>
        <td>{{ campo.nombre }}</td>
        <td class="text-center">
          <button (click)="showPanelEdicion(campo)" type="button" class="btn btn-sm btn-round-table btn-round-edit">
            <i class="pi pi-pencil icon-round-edit font-size-22"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="eliminarCampo(campo)" type="button" class="btn btn-sm btn-round-table btn-round-del">
            <i class="pi pi-times icon-round-del"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          <div class="mt-2 mb-2 p-1 ui-messages ui-messages-warn ui-corner-all text-center">
            <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
            <span class="ui-messages-detail font-size-15 ml-0">
              No se encontraron <strong>CAMPOS</strong> parametrizados en el sistema
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<!-- container crear o editar campos -->
<ng-container *ngIf="isCreacion || isEdicion">

  <!-- panel principal -->
  <p-panel styleClass="steps-pnl-main">
    <p-header>
      <i class="fa fa-list-alt font-size-14"><span class="font-admin"> {{isCreacion ? 'Creación del Campo': 'Edición del Campo'}}</span></i>
    </p-header>

    <!-- pasos de creacion o edicion -->
    <p-steps [styleClass]="stepsModel.styleClass" [model]="stepsModel.steps" [(activeIndex)]="stepsModel.activeIndex"></p-steps>
    <div style="min-height: 200px;">

      <!-- Paso 1 Datos campo-->
      <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_UNO">
        <form name="formDatos" #formDatos="ngForm"
          (ngSubmit)="limpiarMensajes() && formDatos.form.valid && siguienteDatosCampo()"
          (keydown.enter)="$event.preventDefault()" novalidate>

          <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
            <p-header>
              <i class="fa fa-info-circle font-size-18"></i>
              <span> Datos del campo, todos los valores son obligatorios</span>
            </p-header>

            <table class="table steps-tbl mb-0">
              <tbody>
                <!-- nombre -->
                <tr>
                  <td>
                    <label for="cnombre" class="steps-st mb-0">Nombre del Campo:</label>
                  </td>
                  <td>
                    <input type="text"
                      id="cnombre"
                      name="cnombre"
                      [(ngModel)]="campoCU.nombre"
                      #cnombre="ngModel"
                      maxlength="100"
                      adminRequired
                      adminAutofocus
                      autocomplete="off"
                      class="ad-input ad-input-style w-100"
                      [ngClass]="{'ad-input-required': formDatos.submitted && !cnombre.valid}" />
                    <div class="focus-border"></div>
                  </td>
                </tr>

                <!-- descripcion -->
                <tr>
                  <td style="width: 18%">
                    <label for="cdescri" class="steps-st mb-0">Texto de Ayuda:</label>
                  </td>
                  <td>
                    <input type="text"
                      id="cdescri"
                      name="cdescri"
                      [(ngModel)]="campoCU.descripcion"
                      #cdescri="ngModel"
                      maxlength="255"
                      adminRequired
                      autocomplete="off"
                      class="ad-input ad-input-style w-100"
                      [ngClass]="{'ad-input-required': formDatos.submitted && !cdescri.valid}" />
                    <div class="focus-border"></div>
                  </td>
                </tr>

                <!-- Tipo -->
                <tr>
                  <td>
                    <p class="steps-st">Tipo de Campo:</p>
                  </td>
                  <ng-container *ngIf="isEdicion; else ref_tipo_campo">
                    <td>
                      <p class="steps-st">{{campoCU.tipoCampoNombre}}</p>
                    </td>
                  </ng-container>
                  <ng-template #ref_tipo_campo>
                    <td>
                      <div class="form-row">
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CAMPO_TEXTO"
                            label="Campo de Texto"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_LISTA_DESPLEGABLE"
                            label="Lista Desplegable"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div class="mr-4">
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CASILLA_VERIFICACION"
                            label="Casilla de Verificación"
                            name="campos">
                          </p-radioButton>
                        </div>
                        <div>
                          <p-radioButton
                            [(ngModel)]="campoCU.tipoCampo"
                            [value]="ID_CAMPO_FECHA"
                            label="Campo de Fecha"
                            name="campos">
                          </p-radioButton>
                        </div>
                      </div>
                    </td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </p-panel>

          <!-- botones salir - next-->
          <div class="text-center mb-1">
            <button type="button" (click)="closePanelCU()" class="btn btn-sm btn-secondary mr-1 w-100-px">
              <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
            </button>
            <button type="button" (click)="formDatos.onSubmit()" class="btn btn-sm btn-primary w-100-px">
              <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
            </button>
          </div>
        </form>
      </ng-container>

      <!-- Paso 2 agregar items -->
      <ng-container *ngIf="campoCU.tipoCampo === ID_LISTA_DESPLEGABLE && stepsModel.activeIndex === stepsModel.STEP_DOS">
        <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
          <p-header>
            <i class="fa fa-info-circle font-size-18"></i>
            <span> Agrege los ítems asociados al campo</span>
          </p-header>

          <!-- input - button -->
          <table class="table steps-tbl mb-0">
            <tbody>
              <tr>
                <td style="width: 12%">
                  <label for="inItem" class="steps-st mb-0">Nuevo Ítem:</label>
                </td>
                <td>
                  <input type="text"
                    id="inItem"
                    #inItem
                    maxlength="255"
                    adminAutofocus
                    autocomplete="off"
                    class="ad-input ad-input-style w-100" />
                  <div class="focus-border"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="agregarItem(inItem.value); inItem.value=null; tblitems.reset()" type="button" class="btn btn-sm btn-success ml-2 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Agregar</label>
          </button>

          <!-- lista items -->
          <p-table
            [value]="campoCU.items"
            [responsive]="true"
            [paginator]="true"
            [rows]="5"
            #tblitems
            [alwaysShowPaginator]="false"
            rowHover="true"
            styleClass="ml-2 mr-2 mb-2 tblshort">

            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
              <tr [pSelectableRow]="item">
                <td style="width: 6%" class="text-center">
                  <i *ngIf="isEdicion && item.modificado" class="fa fa-asterisk text-danger font-size-12"></i> {{ rowIndex + 1 }}
                </td>
                <td>
                  <p *ngIf="!(isEdicion && itemEdicion && itemEdicion.id === item.id)">{{ item.valor }}</p>
                  <input type="text"
                    *ngIf="isEdicion && itemEdicion && itemEdicion.id === item.id"
                    id="inItemEdit"
                    (change)="changeItemUpdate()"
                    [(ngModel)]="item.valor"
                    #inItemEdit
                    maxlength="255"
                    adminAutofocus
                    autocomplete="off"
                    class="ad-input ad-input-style w-100" />
                  <div class="focus-border"></div>
                </td>
                <td *ngIf="isEdicion" style="width: 4%" class="text-center">
                  <span (click)="setItemEdicion(item)" *ngIf="item.id" class="edit-round-min">
                    <i class="pi pi-pencil del-round-min-pi"></i>
                  </span>
                </td>
                <td *ngIf="isEdicion" style="width: 4%" class="text-center">
                  <span *ngIf="!campoEditarOrigen.tieneConsecutivos || !item.id" (click)="eliminarItem(item); tblitems.reset()" class="del-round-min">
                    <i class="pi pi-times del-round-min-pi"></i>
                  </span>
                  <i *ngIf="!(!campoEditarOrigen.tieneConsecutivos || !item.id)" class="pi pi-check icon-sel font-size-22"></i>
                </td>
                <td *ngIf="isCreacion" style="width: 4%" class="text-center">
                  <span (click)="eliminarItem(item); tblitems.reset()" class="del-round-min">
                    <i class="pi pi-times del-round-min-pi"></i>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-panel>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="siguienteAgregarItems()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </ng-container>

      <!-- Paso 3 confirmacion -->
      <ng-container *ngIf="stepsModel.activeIndex === stepsModel.ulitmoIndex">

        <!-- detalle - campo -->
        <admin-detalle-campo
          [isAdminCampos]="true"
          [campo]="campoCU"
          [camposEditado]="campoEditarOrigen">
        </admin-detalle-campo>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="crearCampoEntrada()" *ngIf="isCreacion" type="button" class="btn btn-success btn-sm">
            <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Campo</label>
          </button>
          <button (click)="editarCampoEntrada()" *ngIf="isEdicion" [disabled]="!(campoEditarOrigen.datosBasicosEditar || campoEditarOrigen.itemsEditar)" type="button" class="btn btn-success btn-sm">
            <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
          </button>
        </div>
      </ng-container>
    </div>
  </p-panel>
</ng-container>
