.table-modulos td{
  padding: .5rem !important;
  vertical-align: middle !important;
  border-bottom: 1px solid #dee2e6;
}

.st {
  color: #4b4f56;
  font-size: 0.98rem;
  font-family: Times, Times New Roman, serif;
}
