.pnl-main {
  padding-top: 50px;
  padding-bottom: 15px;
}

.color-header {
  background-color: #3f51b5;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.sub-title {
  color: white;
  font-size: 13px;
}

.msj-error {
  font-size: 13px;
  margin-bottom: 0px;
}

.width-card {
  width: 27rem;
  height: 26rem;
}

.btn-login {
  background-color: #3f51b5;
  font-size: 1em !important;
}

.btn-login:hover {
  background-color: #344397;
}
