.pnl-main {
  background-color: #6f8899;
  padding-top: 20px;
  padding-bottom: 20px;
}

.color-header {
  background-color: #31404a;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.sub-title {
  color: white;
  font-size: 13px;
}

.msj-error {
  font-size: 13px;
  margin-bottom: 0px;
}

.width-card {
  width: 23rem;
}
