<!-- pasos para la solicitud -->
<p-steps [styleClass]="state.stepsModel.styleClass" [model]="state.stepsModel.steps" [(activeIndex)]="state.stepsModel.activeIndex"></p-steps>

<!-- Paso 1 nomenclatura-->
<ng-container *ngIf="state.stepsModel.activeIndex === state.stepsModel.STEP_UNO">

  <p-panel styleClass="mb-2 steps-pnl">
    <p-header>
      <div class="ui-g">
        <div class="ui-g-6 p-0">
          <i class="fa fa-info-circle font-size-18"></i>
          <span> Seleccione la Nomenclatura</span>
        </div>
        <div *ngIf="state.datosIniciales?.nomenclaturas?.length > 5" class="ui-g-6 p-0">
          <div class="inner-addon left-addon">
            <i class="fa fa-search-plus font-size-18 aico"></i>
            <input type="text"
              (keyup)="busquedaNomenclatura()"
              [(ngModel)]="filterValue"
              maxlength="15"
              adminAutofocus
              autocomplete="off"
              placeholder="Buscar por Nomenclatura"
              class="ad-input ad-input-style w-100 pt-0" />
            <div class="focus-border"></div>
          </div>
        </div>
      </div>
    </p-header>

    <!-- Hay nomenclaturas-->
    <div *ngIf="state.datosIniciales?.nomenclaturas?.length > 0" class="mt-1">

      <!-- tabla - nomenclaturas -->
      <p-table
        id="tblNomen"
        #tblNomen
        [value]="nomenclaturas"
        [(selection)]="state.nomenclaturaSeleccionada"
        [alwaysShowPaginator]="false"
        [responsive]="true"
        [paginator]="true"
        [rows]="5"
        rowHover="true"
        selectionMode="single">

        <ng-template pTemplate="header">
          <tr class="text-center">
            <th style="width: 5%">Nomenclatura</th>
            <th>Descripción</th>
            <th style="width: 4%">Detalle</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-nomenclatura>
          <tr [pSelectableRow]="nomenclatura">
            <td class="text-center font-size-14">
              <strong>{{ nomenclatura.nomenclatura }}</strong>
            </td>
            <td>{{ nomenclatura.descripcion }}</td>
            <td class="text-center">
              <button type="button" (click)="verDetalleNomenclatura($event, nomenclatura)" class="btn btn-sm btn-round-table btn-pup">
                <i class="pi pi-external-link icon-round-table"></i>
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="6">
              <p class="st font-weight-bold font-size-14 mb-0 text-center">No hay nomenclaturas de acuerdo al filtro de búsqueda ingresado</p>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- boton - next-->
      <div class="text-center mt-2 mb-1">
        <button (click)="siguiente()" [disabled]="!state.nomenclaturaSeleccionada" type="button" class="btn btn-sm btn-primary w-100-px">
          <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
        </button>
      </div>
    </div>

    <!-- No Hay nomenclaturas-->
    <div *ngIf="!(state.datosIniciales?.nomenclaturas?.length > 0)" class="mr-4 ml-4 mt-3 mb-3 ui-messages ui-messages-warn ui-corner-all">
      <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
      <span class="ui-messages-detail">
        <strong>No hay nomenclaturas</strong> parametrizadas en el sistema
      </span>
    </div>
  </p-panel>
</ng-container>

<!-- Paso 2 entrada informacion-->
<ng-container *ngIf="state.stepsModel.activeIndex === state.stepsModel.STEP_DOS">
  <admin-ingreso-informacion></admin-ingreso-informacion>
</ng-container>

<!-- Paso 3 Confirmacion-->
<ng-container *ngIf="state.stepsModel.activeIndex === state.stepsModel.STEP_TRES">
  <admin-confirmacion></admin-confirmacion>
</ng-container>

<!-- Paso 4 consecutivo-->
<ng-container *ngIf="state.stepsModel.activeIndex === state.stepsModel.ulitmoIndex">
  <admin-consecutivo-generado></admin-consecutivo-generado>
</ng-container>

<!-- modal ver detalle nomenclatura -->
<ng-container *ngIf="detalleNomenclatura && detalleNomenclatura.data">
  <p-dialog header="Detalle de la Nomenclatura"
  [(visible)]="detalleNomenclatura.isShowModal"
  modal="true"
  responsive="true"
  dismissableMask="true"
  styleClass="splr-dl"
  (onHide)="detalleNomenclatura.closeModal()">
    <div class="scc-mx-dtl-cmp">
      <admin-detalle-nomenclatura [detalle]="detalleNomenclatura.data"></admin-detalle-nomenclatura>
    </div>
  </p-dialog>
</ng-container>
