.inner-addon {
  position: relative;
}

.inner-addon .aico {
  position: absolute;
  pointer-events: none;
}

.left-addon .aico {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.scc-mx-dtl-cmp {
  max-width: 700px;
  min-width: 700px;
}

.azul {
  background: #5485d4;
  background: -moz-linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  background: -webkit-linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  background: linear-gradient(240deg, #5485d4 0%, #8469df 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5485d4", endColorstr="#8469df", GradientType=1);
}
