.inner-addon {
  position: relative;
}

.inner-addon .aico {
  position: absolute;
  pointer-events: none;
}

.left-addon .aico {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.scc-mx-dtl-cmp {
  max-width: 700px;
  min-width: 700px;
}
