:host {
  display: inline-block;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: #666;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

:host(.vertical-menu) {
  display: block;
  margin-left: 0;
  color: #2d3f47;
  font-weight: 600;
}

span {
  pointer-events: none;
  padding-left: 5px;
  font-size: 14px;
}

.glyphicon {
  top: 1px;
  margin-right: 4px;
  margin-left: 8px;
  float: right;
}

.size-icon {
  font-size: 20px !important;
}

.menu-item {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 10px;
}

.menu-item:hover {
  background-color: #dfd;
}

.router-link-active {
  background-color: #dfd;
}
