<!-- titulo de la pagina -->
<div style="padding-top: 3%; text-align: center">
  <p style="color: #0080ff;font-size: 1.6rem">Administración de Clientes</p>
</div>

<!-- mensajes de errores -->
<p style="color: red; text-align: center">{{msjError}}</p>

<!-- panel de autenticacion -->
<div *ngIf="!autenticacion">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4  col-xs-12" style="margin-right: auto;margin-left: auto">
    <div class="form-group col-xs-12">
      <label for="user">Usuario*</label>
      <input id="user" type="password" class='form-control' placeholder="Ingrese el usuario" [(ngModel)]="credenciales.usuario" />
    </div>
    <div class="form-group col-xs-12">
      <label for="pass">Contraseña*</label>
      <input id="pass" type="password" class='form-control' placeholder="Ingrese la contraseña" [(ngModel)]="credenciales.clave" />
    </div>
    <div class="form-group col-md-12 col-xs-12 text-center">
      <button type="button" class="btn btn-primary" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
  </div>
</div>

<!-- panel cuando el admin ya esta autenticado -->
<div *ngIf="autenticacion">

  <!-- panel general lista de clientes -->
  <div *ngIf="!clienteCrear">

    <div *ngIf="clienteToken">
      <p style="text-align: center; color: blue; text-decoration: underline; cursor: pointer;" (click)="limpiarToken()">Nombre: {{clienteToken.nombre}}</p>
      <p style="color: red; text-align: center">{{clienteToken.token}}</p>
    </div>

    <button type="button" class="btn btn-success" style="margin-right: 2%;margin-left: 2% " (click)="cerrarSesion()">Cerrar Sesión</button>
    <button type="button" class="btn btn-primary" (click)="showPanelCrearCliente()">Agregar Cliente</button>
    <br />
    <br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Token</th>
          <th>Telefonos</th>
          <th>Emails</th>
          <th>Activación</th>
          <th>Inactivación</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of autenticacion.clientes">
          <td>
            <input *ngIf="clienteModificar && clienteModificar.id === cliente.id" type="text" [(ngModel)]="cliente.nombre" />
            <p *ngIf="!(clienteModificar && clienteModificar.id === cliente.id)">{{cliente.nombre}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="verToken(cliente)">Ver</button>
          </td>
          <td>
            <input *ngIf="clienteModificar && clienteModificar.id === cliente.id" type="text" [(ngModel)]="cliente.telefonos" />
            <p *ngIf="!(clienteModificar && clienteModificar.id === cliente.id)">{{cliente.telefonos}}</p>
          </td>
          <td>
            <input *ngIf="clienteModificar && clienteModificar.id === cliente.id" type="text" [(ngModel)]="cliente.emails" />
            <p *ngIf="!(clienteModificar && clienteModificar.id === cliente.id)">{{cliente.emails}}</p>
          </td>
          <td>
            <p>{{cliente?.fechaActivacion | date: 'dd/MM/yyyy'}}</p>
          </td>
          <td>
            <p>{{cliente?.fechaInactivacion | date: 'dd/MM/yyyy'}}</p>
          </td>
          <td>
            <button *ngIf="cliente.estado === 1" type="button" class="btn btn-success btn-sm" (click)="inactivarCliente(cliente)">Activo</button>
            <button *ngIf="cliente.estado === 2" type="button" class="btn btn-danger btn-sm" (click)="activarCliente(cliente)">Inactivo</button>
          </td>
          <td>
            <button *ngIf="!(clienteModificar && clienteModificar.id === cliente.id)" type="button" class="btn btn-success btn-sm"
              style="margin-right: 3%" (click)="habilitarEdicionCliente(cliente)">E</button>
            <button *ngIf="clienteModificar && clienteModificar.id === cliente.id" type="button" class="btn btn-danger btn-sm"
              style="margin-right: 3%" (click)="modificarCliente()">G</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="eliminarCliente(cliente)">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- panel para creacion de clientes -->
  <div *ngIf="clienteCrear" class="container">
    <div class="form-group col-xs-12">
      <label for="nombre">Nombre cliente:</label>
      <input id="nombre" type="text" class='form-control' [(ngModel)]="clienteCrear.nombre" />
    </div>

    <div class="form-group col-xs-12">
      <label for="tele">Telefonos:</label>
      <input id="tele" type="text" class='form-control' [(ngModel)]="clienteCrear.telefonos" />
    </div>

    <div class="form-group col-xs-12">
      <label for="ema">Emails:</label>
      <input id="ema" type="text" class='form-control' [(ngModel)]="clienteCrear.emails" />
    </div>

    <button type="button" class="btn btn-success" style="margin-right: 2%;margin-left: 2% " (click)="closePanelCrearCliente()">Regresar</button>
    <button type="button" class="btn btn-primary" (click)="agregarCliente()">Agregar Cliente</button>
  </div>
</div>
