<!-- pnl principal -->
<p-panel styleClass="steps-pnl steps-pnl-main">
  <p-header>
    <i class="fa fa-info-circle font-size-18"></i>
    <span> ¿Seguro de solicitar el consecutivo con la siguiente información?</span>
  </p-header>

  <!-- nomenclatura -->
  <p-panel styleClass="mr-4 ml-4 pt-2 pb-2 steps-pnl steps-pnl-main">
    <p-header>
      <div class="ui-g">
        <div class="ui-g-6 p-0 pt-1">
          <span class="steps-circle">1</span> <span> Nomenclatura </span>
        </div>
        <div class="ui-g-6 p-0 text-right">
          <ng-container *ngTemplateOutlet="dtlNomenclatura"></ng-container>
        </div>
      </div>
    </p-header>

    <div class="text-center bg-light">
      <p class="st clr-or"><strong> {{ state.nomenclaturaSeleccionada.nomenclatura }} </strong></p>
      <p class="st"><strong> {{ state.nomenclaturaSeleccionada.descripcion }} </strong></p>
    </div>
  </p-panel>

  <!-- entrada informacion -->
  <p-panel styleClass="mr-4 ml-4 pb-2 steps-pnl steps-pnl-main">
    <p-header>
      <span class="steps-circle">2</span> <span> Entrada de Información </span>
    </p-header>

    <!-- Hay informacion -->
    <ng-container *ngIf="state.camposInformacionValues && state.camposInformacionValues.length > 0">
      <div class="ui-g pb-0 bg-light">

        <!-- cada valor ingresado -->
        <ng-container *ngFor="let campoModel of state.camposInformacionValues; let i = index">

          <!-- pnl informacion -->
          <div [ngClass]="state.camposInformacionValues.length > 1 ? 'ui-g-6':'ui-g-12'" class="p-0">

            <!-- valor -->
            <div class="ui-g-12 pb-0 border-bottom">
              <label class="steps-st mb-0 mt-0"> {{campoModel.campo.nombre}}: </label>
              <p class="invisible st" *ngIf="!(campoModel.valor) && campoModel.campo.tipoCampo !== ID_CASILLA_VERIFICACION; else showValue">.</p>
              <ng-template #showValue>
                <ng-container *ngIf="campoModel.campo.tipoCampo === ID_CAMPO_TEXTO">
                  <p class="st">{{ campoModel.valor }}</p>
                </ng-container>

                <ng-container *ngIf="campoModel.campo.tipoCampo === ID_LISTA_DESPLEGABLE">
                  <p class="st">{{ campoModel.valor.valor }}</p>
                </ng-container>

                <ng-container *ngIf="campoModel.campo.tipoCampo === ID_CAMPO_FECHA">
                  <p class="st">{{campoModel.valor | date:'dd/MMMM/yyyy'}}</p>
                </ng-container>

                <ng-container *ngIf="campoModel.campo.tipoCampo === ID_CASILLA_VERIFICACION">
                  <p class="st">{{campoModel.valor ? 'SI' : 'NO'}}</p>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!-- No Hay informacion -->
    <ng-container *ngIf="!(state.camposInformacionValues && state.camposInformacionValues.length > 0)">
      <br />
      <div class="mr-4 ml-4 ui-messages ui-widget ui-corner-all ui-messages-warn">
        <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
        <span class="ui-messages-detail">
          <strong>No hay campos de información</strong> asociados a la nomenclatura seleccionada
        </span>
      </div>
    </ng-container>
  </p-panel>

  <!-- botones regresar - next-->
  <div class="text-center mb-1">
    <button (click)="state.stepsModel.regresar()" type="button" class="btn btn-sm btn-secondary w-100-px mr-2">
      <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
    </button>
    <button type="button" class="btn btn-success btn-sm">
      <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Solicitar Consecutivo</label>
    </button>
  </div>
</p-panel>
