<div *ngIf="item.isPaginaInicio" (click)="goRouter(item.router)"
[ngClass]="(item.isSeleccionado) ? 'menu-modulo-sele' : 'menu-modulo'">
  <i class="{{item.icono}} size-icon"></i>
  <span class="font-weight-bold">{{item.nombre}}</span>
</div>


<div *ngIf="!item.isPaginaInicio">
  <div *ngIf="item.items"
  [ngClass]="(item.isSeleccionado) ? 'menu-modulo-sele' : 'menu-modulo'"

  (click)="menuState.toogleMenuItem(item)">
    <i class="{{item.icono}} size-icon"></i>
    <span class="font-weight-bold">{{item.nombre}}</span>
    <i [ngClass]="(item.isOpen) ? 'fa fa-fw fa-angle-down' : 'fa fa-fw fa-angle-right'"
    class="glyphicon size-icon"></i>
  </div>

<div [ngClass]="menuState.isMenuInicio ? 'd-none' : ''">

  <div *ngIf="!item.items" (click)="goRouter(item.router)"
  [ngClass]="item.isUltimoItem ? item.isSeleccionado ? 'border-bottom menu-item-sele' : 'border-bottom menu-item'  : item.isSeleccionado ? 'menu-item-sele' : 'menu-item'"

  >

    <span class="font-weight-bold text">
      <i class="fa fa-fw fa-angle-double-right size-icon-item icon_modulo"
      [ngClass]="item.isSeleccionado ? 'icon_modulo_sel' : ''"
      ></i> {{item.nombre}}</span>
  </div>

  <admin-menu-item-detail [modulo]="item"></admin-menu-item-detail>
</div>
</div>
