:host {
  color: #666;
  cursor: pointer;
}

.menu-modulo {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 10px;
  color: #2e3c45;
}

.menu-modulo-sele {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 10px;
  background-color: #aabac3;
  color: #333333;
}

.menu-modulo:hover * {
  background-color: #d0d0d0;
  color: #333333;
}

.menu-modulo:hover{
  background-color: #d0d0d0;
  color: #333333;
}

.icon_modulo {
  color: #a6a6a6;
}

.icon_modulo_sel {
  color: #333333;
}

.menu-item {
  padding: 6px 6px 6px 0;
  background-color: #f4f4f4;
  border-bottom: 0px;
  padding-left: 16px;
  color: #2e3c45;
}

.menu-item-sele {
  padding: 6px 6px 6px 0;
  background-color: #dfd;
  border-bottom: 0px;
  padding-left: 16px;
  color: #333333;
  cursor: auto;
}

.menu-item:hover * {
  background-color: #d0d0d0;
  color: #333333;
}

.menu-item:hover{
  background-color: #d0d0d0;
  color: #333333;
}

.border-bottom {
  border-bottom: 1px solid #d0d0d0 !important;
}

span {
  pointer-events: none;
  padding-left: 5px;
  font-size: 14px;
}

.glyphicon {
  top: 1px;
  margin-right: 4px;
  margin-left: 8px;
  float: right;
}

.size-icon {
  font-size: 20px !important;
  margin: 0px!important;
}

.size-icon-item {
  font-size: 16px !important;
  margin: 0px!important;
}
