<!-- item para la pagina de inicio -->
<div
  *ngIf="item.isPaginaInicio"
  (click)="navigate(item.router)"
  [ngClass]="(item.isSeleccionado) ? 'menu-modulo-selected' : 'menu-modulo'">
    <i class="fa fa-fw fa-dashboard size-icon" [ngClass]="item.isSeleccionado ? 'icon-modulo-selected' : 'icon-modulo'"></i>
    <span class="font-weight-bold">{{item.nombre}}</span>
</div>

<!-- items diferentes a la pagina de inicio -->
<div *ngIf="!item.isPaginaInicio">

  <!-- div para los items tipo modulo o sub-modulo -->
  <div
    *ngIf="item.items"
    [ngClass]="(item.isSeleccionado) ? 'menu-modulo-selected' : 'menu-modulo'"
    (click)="shellState.menu.toggleMenuModulo(item)">
      <i class="{{item.icono}} fa fa-fw size-icon" [ngClass]="item.isSeleccionado ? 'icon-modulo-selected' : 'icon-modulo'"></i>
      <span class="font-weight-bold">{{item.nombre}}</span>
      <i [ngClass]="(item.isOpen) ? 'fa fa-fw fa-angle-down' : 'fa fa-fw fa-angle-right'" class="float-right size-icon"></i>
  </div>

  <!-- div para los items -->
  <div
    *ngIf="!item.items"
    (click)="navigate(item.router)"
    [ngClass]="item.isUltimoItem ? item.isSeleccionado ? 'border-bottom menu-item-selected' : 'border-bottom menu-item'  : item.isSeleccionado ? 'menu-item-selected' : 'menu-item'">
      <span class="font-weight-bold text-item">
        <i class="{{item.icono}} fa fa-fw icon-item"
          [ngClass]="item.isSeleccionado ? 'icon-modulo-selected' : ''">
        </i>
        {{item.nombre}}
      </span>
  </div>

  <!-- si este modulo o item tiene sub-items -->
  <div *ngIf="item.items">
    <admin-menu-item-detail [modulo]="item"></admin-menu-item-detail>
  </div>
</div>
