:host {
  color: #666;
  cursor: pointer;
}

.menu-modulo {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 10px;
  color: #2e3c45;
}

.menu-modulo:hover * {
  background-color: #d0d0d0;
  color: #333333;
}

.menu-modulo:hover {
  background-color: #d0d0d0;
  color: #333333;
}

.menu-modulo-selected {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 10px;
  background-color: #aabac3;
  color: #333333;
}

.menu-item {
  padding: 6px 6px 6px 0;
  background-color: #f4f4f4;
  border-bottom: 0px;
  padding-left: 16px;
  color: #2e3c45;
}

.menu-item:hover {
  color: #333333;
  background-color: #d0d0d0;
}

.menu-item:hover * {
  color: #333333;
  background-color: #d0d0d0;
}

.menu-item-selected {
  padding: 6px 6px 6px 0;
  background-color: #e0ebf1;
  border-bottom: 0px;
  padding-left: 16px;
  color: #333333;
  cursor: auto;
}

.icon-modulo {
  color: #a6a6a6;
}

.icon-modulo-selected {
  color: #333333 !important;
}

.icon-item {
  color: #a6a6a6;
  font-size: 14px !important;
}

.text-item {
  color: #333333;
  font-size: 13px;
}

.border-bottom {
  border-bottom: 1px solid #d0d0d0 !important;
}

.size-icon {
  font-size: 20px !important;
  margin: 0px !important;
}

span {
  pointer-events: none;
  padding-left: 5px;
  font-size: 14px;
}
