<!-- pnl datos campo -->
<p-panel styleClass="mr-4 ml-4 steps-pnl steps-pnl-main">
  <p-header>
    <span class="steps-circle">1</span> <span> Datos del Campo</span>
  </p-header>
  <table class="table steps-tbl mb-0">
    <tbody>
      <tr>
        <td style="width: 8%">
          <p class="steps-st">Tipo:</p>
        </td>
        <td>
          <p class="st">{{ campo.tipoCampoNombre }}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 8%">
          <p class="steps-st">Nombre:</p>
        </td>
        <td>
          <p class="st">{{ campo.nombre }}</p>
        </td>
      </tr>
      <tr>
        <td style="width: 8%">
          <p class="steps-st">Descripción:</p>
        </td>
        <td>
          <p class="st">{{ campo.descripcion }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</p-panel>

<!-- pnl restricciones -->
<p-panel styleClass="mr-4 ml-4 mt-2 steps-pnl steps-pnl-main">
  <p-header>
    <span class="steps-circle">2</span> <span> Restricciones</span>
  </p-header>
  <ng-container *ngIf="tieneRestriccion">
    <table class="table steps-tbl mb-0">
      <tbody>
        <tr *ngFor="let restriccion of campo.restricciones">
          <ng-container *ngIf="restriccion.aplica">
            <td style="width: 8%">
              <div class="custom-control custom-control-inline">
                <i class="pi pi-check icon-sel"></i>
              </div>
            </td>
            <td>
              <p class="sub-title-page">{{ restriccion.descripcion }}</p>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div *ngIf="!tieneRestriccion" class="text-center pt-2 pb-2 ">
    <p class="st font-weight-bold font-size-14">No hay restricciones para el nuevo campo</p>
  </div>
</p-panel>

<!-- pnl items -->
<p-panel *ngIf="campo.tipoCampo === ID_LISTA_DESPLEGABLE" styleClass="mr-4 ml-4 mt-2 steps-pnl steps-pnl-main">
  <p-header>
    <span class="steps-circle">3</span> <span> Ítems Agregados</span>
  </p-header>
  <p-table
    [value]="campo.items"
    [alwaysShowPaginator]="false"
    [responsive]="true"
    [paginator]="true"
    [rows]="5">
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td style="width: 4%">{{ rowIndex + 1 }}</td>
        <td>{{ item.valor }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
