<!-- title -->
<div class="text-center">
  <p class="title-page-english">FUN WAY TO LEARN ENGLISH</p>
</div>

<!-- existe serie a editar -->
<ng-container *ngIf="serie">

  <!-- datos generales de la serie ok-->
  <p-panel styleClass="steps-pnl pnl-pt mt-3">
    <p-header>
      <p class="s-title-page-english text-center">PRACTICE MAKES PERFECT</p>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-3">
        <img src="data:image/PNG;base64,{{serie.img}}" width="40" height="40">
        <span class="font-weight-bold s-title font-size-15 font-new-roman ml-2 mayuscula">{{serie.name}}</span>
      </div>
      <div class="ui-g-6 ma-auto">
        <span class="font-weight-bold font-size-15 font-new-roman">URL ORORO: </span>
        <a href="{{serie.url}}" target="_blank" class="link font-new-roman font-size-15">{{serie.url}}</a>
      </div>
      <div class="ui-g-3 ma-auto">
        <button (click)="goToListSeries()" type="button" class="btn-sm btn-primary w-130-px mr-4">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Come Back</label>
        </button>
      </div>
    </div>
  </p-panel>

  <!-- SI hay temporadas para esta serie ok-->
  <ng-container *ngIf="serie.seasons">
    <p-tabView>

      <!-- Temporadas-->
      <ng-container *ngFor="let season of serie.seasons; first as isFirst">
        <p-tabPanel [header]="season.name" [selected]="isFirst">
          <ng-container *ngFor="let chapter of season.chapters; let i = index">
            <p (click)="clickChapter(chapter.id, season)" class="mb-3 mt-3 border-bottom">
              <span class="font-weight-bold">{{i + 1}}: </span>
              <span class="chapter font-new-roman font-size-15 mayuscula" [ngClass]="{'chapter-selected': chapterDetail?.id == chapter.id}">{{chapter.name}}</span>
            </p>  
          </ng-container>
        </p-tabPanel>
      </ng-container>
    </p-tabView>
  </ng-container>

  <!-- panel detalle de capitulo-->
  <ng-container *ngIf="chapterDetail">
    <p-panel styleClass="steps-pnl pnl-pt mt-2" [showHeader]="false">
      <div class="ui-g border-top">

        <!-- sentences wrong ok-->
        <div class="ui-g-2 border-right">
          <div class="border-bottom text-center">
            <p class="s-title font-weight-bold font-new-roman">WRONG SENTENCES</p>
            <ng-container *ngIf="chapterDetail.sentences">
              <p class="text-danger font-weight-bold font-new-roman">{{indexSentence}} de {{chapterDetail.sentences.length}}</p>
            </ng-container>
          </div>
          <div class="sentence-scroll">
            <ng-container *ngFor="let sen of wrongSentences; let i = index">
              <p class="mb-2 mt-2 border-bottom">
                <span class="font-weight-bold">{{i + 1}}: </span>
                <span class="chapter font-new-roman font-size-15" [ngClass]="{'chapter-selected': sentence?.id == sen.id}">SENTENCE</span>
              </p>
            </ng-container>
          </div>
        </div>

        <!-- panel study-->
        <div class="ui-g-10">

          <!-- name de la temporada seleccionada-->
          <div class="ui-g border-bottom">
            <div class="ui-g-2">
              <span class="font-weight-bold text-danger font-size-16 font-new-roman">{{seasonSelected.name}}</span>
            </div>

            <!-- name capitulo-->
            <div class="ui-g-3">
              <span class="font-weight-bold font-size-15 font-new-roman">NAME: </span>
              <span class="font-weight-bold s-title font-size-15 font-new-roman mayuscula">{{chapterDetail.name}}</span>
            </div>

            <!-- URL capitulo-->
            <div class="ui-g-7">
              <span class="font-weight-bold font-size-15 font-new-roman">URL ORORO: </span>
              <a href="{{chapterDetail.url}}" target="_blank" class="link font-new-roman font-size-15">{{chapterDetail.url}}</a>
            </div>

            <!-- panel study-->
            <ng-container *ngIf="sentence">

              <!-- sentence spanish-->
              <div class="ui-g-12">
                <p-panel>
                  <p-header>
                    <label for="inspanish" class="ml-1 mb-0"> Spanish Sentence:</label>
                  </p-header>
                  <textarea
                    [(ngModel)]="sentence.spanish"
                    id="inspanish"
                    class="form-control font-new-roman"
                    rows="3"
                    readonly>
                  </textarea>
                </p-panel>

                <!-- boton show answer-->
                <div class="ui-g-12 p-0 pt-1">
                  <button (click)="showAnswer()" type="button" class="btn btn-sm btn-info w-130-px mr-3">
                    <label class="btn-size-admin"><i class="fa fa-book"></i> Show Answer</label>
                  </button>
                </div>
              </div>
  
              <!-- sentence english-->
              <div class="ui-g-12">
                <p-panel>
                  <p-header>
                    <label for="inenglish" class="ml-1 mb-0"> English Sentence:</label>
                  </p-header>
                  <textarea
                    *ngIf="!verAnswer"
                    id="inenglish"
                    class="form-control font-new-roman"
                    rows="3"
                    readonly>
                  </textarea>
                  <textarea
                    *ngIf="verAnswer"
                    [(ngModel)]="sentence.english"
                    id="inenglish"
                    class="form-control font-new-roman"
                    rows="3"
                    readonly>
                  </textarea>
                </p-panel>
              </div>
  
              <!-- boton wrong-next-->
              <div class="ui-g-12 p-0 ml-1 mb-2">
                <button (click)="addWrong()" type="button" class="btn btn-sm btn-danger w-130-px mr-3">
                  <label class="btn-size-admin"><i class="fa fa-plus"></i> Add Wrong</label>
                </button>
                <button (click)="nextSentence()" [disabled]="!(indexSentence<chapterDetail?.sentences?.length) || !verAnswer" type="button" class="btn btn-sm btn-warning w-130-px">
                  <label class="btn-size-admin">Next <i class="fa fa-hand-o-right"></i></label>
                </button>
              </div>
            </ng-container>
          </div>

          <!-- NO hay temporadas para esta serie ok-->
          <ng-container *ngIf="!chapterDetail.sentences">
            <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-warn ui-corner-all text-center">
              <span class="ui-messages-icon pi pi-info-circle"></span>
              <span class="ui-messages-detail font-size-15 ml-0">
                <strong>No hay sentencias para este capitulo</strong>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </p-panel>
  </ng-container>

  <!-- NO hay temporadas para esta serie ok-->
  <ng-container *ngIf="!serie.seasons">
    <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-warn ui-corner-all text-center">
      <span class="ui-messages-icon pi pi-info-circle"></span>
      <span class="ui-messages-detail font-size-15 ml-0">
        <strong>No hay temporadas para esta serie</strong>
      </span>
    </div>
  </ng-container>
</ng-container>

<!-- NO existe serie para estudiar-->
<ng-container *ngIf="!serie">
  <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-warn ui-corner-all text-center">
    <span class="ui-messages-icon pi pi-info-circle"></span>
    <span class="ui-messages-detail font-size-15 ml-0">
      <strong>Seleccione la serie que desea estudiar</strong>
    </span>
  </div>
</ng-container>

<p-confirmDialog id="confApp" icon="pi pi-exclamation-triangle" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    <button class="btn-no" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
