<!-- para dispositivos con resolucion grande -->
<admin-menu [@openClose]="(menuState.screenState.isBigScreen() && (menuState.isToogleMenuFirstTime || menuState.isMenuOpen))  ? 'open' : 'closed'" class="content-menu">
</admin-menu>

<!-- para dispositivos con resolucion pequenia -->
<p-sidebar id="smallMenu"
  *ngIf="!menuState.screenState.isBigScreen()"
  [(visible)]="menuState.isMenuOpen"
  [showCloseIcon]="false"
  [baseZIndex]="10000">
    <admin-menu class="content-menu">
    </admin-menu>
</p-sidebar>

<!-- aca es donde va el contenido del shell -->
<div class="body-style">
  <router-outlet></router-outlet>
</div>
