<!-- para dispositivos con resolucion grande -->
<admin-menu [@openClose]="(shellState.screen.isBigScreen() && (shellState.menu.isToogleMenuFirstTime || shellState.menu.isMenuOpen))  ? 'open' : 'closed'" class="content-menu">
</admin-menu>

<!-- para dispositivos con resolucion pequenia -->
<p-sidebar id="smallMenu"
  *ngIf="!shellState.screen.isBigScreen()"
  [(visible)]="shellState.menu.isMenuOpen"
  [showCloseIcon]="false"
  [baseZIndex]="10000">
    <admin-menu class="content-menu">
    </admin-menu>
</p-sidebar>

<!-- aca es donde va el contenido del shell -->
<div class="body-style">

  <!-- Miga de pan de la aplicacion -->
  <nav aria-label="breadcrumb">
    <div class="breadcrumb miga-pan">
      <span class="miga-text">
        <i class="fa fa-home"></i> {{shellState.menu.urlBreadcrumb}}
      </span>
    </div>
  </nav>

  <!-- Aca es donde va las paginas seleccionadas por el user -->
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
</div>
