.btn-activo {
  background-color: #2E7D32 !important;
  border-color: #2E7D32 !important;
}

.btn-activo:hover {
  background-color: rgb(45, 141, 50) !important;
}

.btn-anulado {
  background-color: #D84315 !important;
  border-color: #D84315 !important;
}

.btn-anulado:hover {
  background-color: rgb(197, 63, 22) !important;
}

.inner-addon {
  position: relative;
}

.inner-addon .aico {
  position: absolute;
  pointer-events: none;
}

.left-addon .aico {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.mdl-wh-tran {
  max-width: 850px;
  min-width: 850px;
  max-height: 430px;
  min-height: 430px;
}
