:host ::ng-deep #tblcc .ui-table .ui-table-thead>tr>th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep #tblcc .ui-table .ui-table-thead>tr>th {
    top: 100px;
  }
}

#tblcc th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

#tblcc th::before {
  content: '';
  position: absolute;
  left: 1px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #c8c8c8;
  display: block;
  top: 0px;
}

#tblcc th:after {
  bottom: -1px;
  border-bottom: 1px solid #c8c8c8;
}

.btn-activo {
  background-color: #2E7D32 !important;
  border-color: #2E7D32 !important;
}

.btn-activo:hover {
  background-color: rgb(45, 141, 50) !important;
}

.btn-anulado {
  background-color: #D84315 !important;
  border-color: #D84315 !important;
}

.btn-anulado:hover {
  background-color: rgb(197, 63, 22) !important;
}

.inner-addon {
  position: relative;
}

.inner-addon .aico {
  position: absolute;
  pointer-events: none;
}

.left-addon .aico {
  left: 0px;
}

.left-addon input {
  padding-left: 30px;
}

.mdl-wh-tran {
  max-width: 850px;
  min-width: 850px;
  max-height: 430px;
  min-height: 430px;
}
