<!-- NO hay consecutivos -->
<p-panel *ngIf="!stateFiltro.consecutivosPaginados" styleClass="steps-pnl pnl-pt">
  <p-header>
    <i class="fa fa-file-text font-size-16"></i>
    <span> Consecutivos</span>
  </p-header>
  <div class="mr-3 ml-3 mt-3 mb-3 p-2 ui-messages ui-messages-info ui-corner-all text-center">
    <span class="ui-messages-icon pi pi-info-circle"></span>
    <span class="ui-messages-detail font-size-15 ml-0">
      No se encontraron <strong>Consecutivos de Correspondencia</strong> solicitados para el usuario autenticado
    </span>
  </div>
</p-panel>

<!-- HAY consecutivos -->
<ng-container *ngIf="stateFiltro.consecutivosPaginados">

  <!-- Panel filtro - lista consecutivos -->
  <div class="ui-g mt-1">

    <!-- filtro busqueda -->
    <div class="ui-g-12 ui-md-3 p-0 pr-2">
      <admin-filtro-consecutivos></admin-filtro-consecutivos>
    </div>

    <!-- tabla consecutivos -->
    <div class="ui-g-12 ui-md-9 p-0">
      <p-table
        id="tblcc"
        #tblcc
        [value]="stateFiltro.consecutivosPaginados.registros"
        (onPage)="stateFiltro.consecutivosPaginados.scrollerListener($event)"
        [totalRecords]="stateFiltro.consecutivosPaginados.datos.cantidadTotal"
        [alwaysShowPaginator]="stateFiltro.consecutivosPaginados.datos.cantidadTotal > stateFiltro.consecutivosPaginados.rowsDefault"
        [rowsPerPageOptions]="stateFiltro.consecutivosPaginados.rowsPerPageOptions"
        [rows]="stateFiltro.consecutivosPaginados.rowsDefault"
        [responsive]="true"
        [paginator]="true"
        [lazy]="true"
        rowHover="true">

        <ng-template pTemplate="header">
          <tr class="text-center">
            <th style="width: 10%">Consecutivo</th>
            <th style="width: 35%">Nomenclatura</th>
            <th style="width: 25%">Fecha de Solicitud</th>
            <th style="width: 15%">Estado</th>
            <th style="width: 10%">Ceder</th>
            <th style="width: 5%">Editar</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-consecutivo>
          <tr [pSelectableRow]="consecutivo">
            <td class="text-center">
              <p class="mb-0 font-weight-bold" [ngClass]="{'clr-activo': consecutivo.idEstado === stateFiltro.ID_ACTIVO, 'clr-anulado': consecutivo.idEstado === stateFiltro.ID_ANULADO}">
                {{ consecutivo.consecutivo }}
              </p>
            </td>
            <td class="text-center font-weight-bold">
              {{ consecutivo.nomenclatura }}
            </td>
            <td class="text-center">{{ consecutivo.fechaSolicitud }}</td>
            <td class="text-center">
              <button (click)="activarAnularConsecutivo(consecutivo)" *ngIf="consecutivo.idEstado === stateFiltro.ID_ACTIVO" type="button" class="btn btn-success btn-sm btn-activo w-70-px">Activo</button>
              <button (click)="activarAnularConsecutivo(consecutivo)" *ngIf="consecutivo.idEstado === stateFiltro.ID_ANULADO" type="button" class="btn btn-danger btn-sm btn-anulado w-70-px">Anulado</button>
            </td>
            <td class="text-center">
              <button (click)="abrirModalTransferir(consecutivo)" type="button" class="btn btn-sm btn-round-table btn-pup">
                <i class="fa fa-users icon-round-table font-size-14"></i>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-round-table btn-round-edit">
                <i class="pi pi-pencil icon-round-edit font-size-22"></i>
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="6">
              <div class="mr-2 ml-2 mt-2 mb-2 ui-messages ui-messages-info ui-corner-all p-1">
                <span class="ui-messages-icon pi pi-info-circle"></span>
                <span class="ui-messages-detail font-size-15">
                  <strong>No se encontraron consecutivos</strong> que coincidan con los criterios de filtro de búsqueda ingresado
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-container>

<!-- modal transferir consecutivo -->
<ng-container *ngIf="modalTransferir && modalTransferir.data">
  <p-dialog
    header="Ceder Consecutivo"
    [(visible)]="modalTransferir.isShowModal"
    [dismissableMask]="false"
    [closeOnEscape]="false"
    [closable]="false"
    modal="true"
    responsive="true"
    styleClass="mdlsintop">

    <!-- div main -->
    <div class="mdl-wh-tran">

      <!-- steps tranferir -->
      <p-steps
        id="stepSinPad"
        [styleClass]="stepsTransferencia.styleClass"
        [(activeIndex)]="stepsTransferencia.activeIndex"
        [model]="stepsTransferencia.steps">
      </p-steps>

      <!-- Paso 1 seleccion user -->
      <p-panel *ngIf="stepsTransferencia.activeIndex === stepsTransferencia.STEP_UNO" styleClass="m-0 steps-pnl pnl-pt">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-7 p-0">
              <i class="fa fa-info-circle font-size-18"></i>
              <span> Seleccione el usuario a la cual se le va ceder el consecutivo</span>
            </div>
            <div *ngIf="usuariosTransferirOrigen && usuariosTransferirOrigen.length > 6" class="ui-g-5 p-0">
              <div class="inner-addon left-addon">
                <i class="fa fa-search-plus font-size-18 aico"></i>
                <input
                  type="text"
                  (keyup)="busquedaNombreUsuario()"
                  [(ngModel)]="filterNombreUsuario"
                  maxlength="100"
                  autocomplete="off"
                  placeholder="Búsqueda por Nombre"
                  class="ad-input ad-input-style w-100 pt-0 font-size-15" />
                <div class="focus-border"></div>
              </div>
            </div>
          </div>
        </p-header>

        <!-- Hay Usuarios-->
        <div *ngIf="usuariosTransferirOrigen && usuariosTransferirOrigen.length > 0">
          <p-table
            id="tblusers"
            #tblusers
            [value]="usuariosTransferir"
            [(selection)]="usuarioElegidoTransferir"
            [responsive]="true"
            [paginator]="true"
            [alwaysShowPaginator]="false"
            [rows]="6"
            selectionMode="single"
            rowHover="true"
            styleClass="tblshort">

            <ng-template pTemplate="body" let-usuario>
              <tr [pSelectableRow]="usuario">
                <td style="width: 5%">
                  <p-tableRadioButton [value]="usuario"></p-tableRadioButton>
                </td>
                <td>
                  <span>
                    {{ usuario.label }}
                  </span>
                  <span *ngIf="usuario.descripcion" class="pl-1 font-weight-bold font-size-14 font-new-roman">
                    ({{ usuario.descripcion }})
                  </span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="2">
                  <div class="mt-2 mb-2 p-1 ui-messages ui-messages-info ui-corner-all text-center">
                    <span class="ui-messages-icon pi pi-info-circle font-size-24"></span>
                    <span class="ui-messages-detail font-size-14 ml-0">
                      <strong>No se encontraron usuarios</strong> que coincidan con los criterios
                    </span>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- No Hay Usuarios-->
        <div *ngIf="!(usuariosTransferirOrigen && usuariosTransferirOrigen.length > 0)"
          class="mr-1 ml-1 mt-2 mb-2 ui-messages ui-messages-warn ui-corner-all text-center">
          <span class="ui-messages-icon pi pi-exclamation-triangle"></span>
          <span class="ui-messages-detail font-size-15">
            <strong>No hay usuarios</strong> parametrizadas en el sistema
          </span>
        </div>
      </p-panel>

      <!-- Paso 2 confirmacion -->
      <p-panel *ngIf="stepsTransferencia.activeIndex === stepsTransferencia.STEP_DOS" styleClass="m-0 steps-pnl pnl-pt">
        <p-header>
          <i class="fa fa-info-circle font-size-18"></i>
          <span> ¿Está seguro de ceder el siguiente consecutivo para el siguiente usuario?</span>
        </p-header>

        <!-- datos del consecutivo -->
        <p-panel styleClass="mb-3 mt-3 mr-3 ml-3">
          <p-header>
            <span class="steps-circle">1</span> <span> Consecutivo a Ceder </span>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6 pb-0 pt-0">
              <p class="steps-st">Consecutivo:</p>
              <p class="font-weight-bold font-size-18" [ngClass]="{'clr-activo': modalTransferir.data.idEstado === stateFiltro.ID_ACTIVO, 'clr-anulado': modalTransferir.data.idEstado === stateFiltro.ID_ANULADO}">
                {{ modalTransferir.data.consecutivo }}
              </p>
            </div>

            <div class="ui-g-6 pb-0 pt-0">
              <p class="steps-st">Nomenclatura: </p>
              <p class="st">
                {{modalTransferir.data.nomenclatura}}
              </p>
            </div>
          </div>
        </p-panel>

        <!-- datos del usuario -->
        <p-panel styleClass="mb-3 mt-3 mr-3 ml-3">
          <p-header>
            <span class="steps-circle">2</span> <span> Usuario Seleccionado </span>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6 pb-0 pt-0">
              <p class="steps-st">Nombre: </p>
              <p class="st"> {{usuarioElegidoTransferir.label}} </p>
            </div>

            <div class="ui-g-6 pb-0 pt-0">
              <p class="steps-st">Cargo: </p>
              <p class="st"> {{usuarioElegidoTransferir.descripcion}} </p>
            </div>
          </div>
        </p-panel>
      </p-panel>

      <!-- btns steps UNO-->
      <div *ngIf="stepsTransferencia.activeIndex === stepsTransferencia.STEP_UNO" class="text-center mb-0 mt-2">
        <button (click)="cerrarModalTransferir()" type="button" class="btn btn-sm btn-secondary mr-3 w-100-px mdl-btn-h">
          <label class="btn-size-admin"><i class="fa fa-times-circle pr-1"></i> Salir</label>
        </button>
        <button (click)="stepsTransferencia.irSegundoStep()" [disabled]="!usuarioElegidoTransferir" type="button" class="btn btn-sm btn-primary w-100-px mdl-btn-h">
          <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
        </button>
      </div>

      <!-- btns steps DOS-->
      <div *ngIf="stepsTransferencia.activeIndex === stepsTransferencia.STEP_DOS" class="text-center mb-0 mt-3">
        <button (click)="stepsTransferencia.irPrimerStep()" type="button" class="btn btn-sm btn-primary w-100-px mdl-btn-h mr-2">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
        </button>
        <button (click)="cerrarModalTransferir()" type="button" class="btn btn-sm btn-secondary w-100-px mdl-btn-h mr-2">
          <label class="btn-size-admin"><i class="fa fa-times-circle pr-1"></i> Salir</label>
        </button>
        <button (click)="transferirConsecutivo()" type="button" class="btn btn-sm btn-success w-150-px mdl-btn-h">
          <label class="btn-size-admin"><i class="fa fa-users"></i> Ceder Consecutivo</label>
        </button>
      </div>
    </div>
  </p-dialog>
</ng-container>
