<!-- container lista de nomenclaturas -->
<ng-container *ngIf="!isCreacion && !isEdicion">

  <!-- boton crear nomenclatura -->
  <div class="text-right mb-1">
    <button (click)="showPanelCreacion()" type="button" class="btn btn-success btn-sm">
      <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Nomenclatura</label>
    </button>
  </div>

  <!-- tabla - nomenclaturas -->
  <p-table [value]="nomenclaturas"
    [responsive]="true"
    [paginator]="true"
    [rows]="10"
    rowHover="true">

    <ng-template pTemplate="caption">
      <i class="fa fa-ils"><span class="font-admin"> Nomenclaturas</span></i>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-center">
        <th style="width: 5%">Nomenclatura</th>
        <th>Descripción</th>
        <th style="width: 4%">Consec. Inicial</th>
        <th style="width: 4%">Detalle</th>
        <th style="width: 4%">Editar</th>
        <th style="width: 4%">Eliminar</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-nomenclatura>
      <tr [pSelectableRow]="nomenclatura">
        <td class="text-center font-size-14">
          <strong>{{ nomenclatura.nomenclatura }}</strong>
        </td>
        <td>{{ nomenclatura.descripcion }}</td>
        <td class="text-center">{{ nomenclatura.consecutivoInicial }}</td>
        <td class="text-center">
          <button (click)="showModalVerDetalle(nomenclatura)" type="button" class="btn btn-sm btn-round-table btn-round-teal">
            <i class="pi pi-external-link icon-round-table"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="showPanelEdicion(nomenclatura)" type="button" class="btn btn-sm btn-round-table btn-round-edit">
            <i class="pi pi-pencil icon-round-edit font-size-22"></i>
          </button>
        </td>
        <td class="text-center">
          <button (click)="eliminarNomenclatura(nomenclatura)" type="button" class="btn btn-sm btn-round-table btn-round-del">
            <i class="pi pi-times icon-round-del"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="6">
          <p class="st font-weight-bold font-size-14 mb-0 text-center">No hay nomenclaturas parametrizadas en el sistema</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<!-- container crear o editar nomenclaturas -->
<ng-container *ngIf="isCreacion || isEdicion">

  <!-- panel principal -->
  <p-panel styleClass="steps-pnl-main">
    <p-header>
      <i class="fa fa-ils font-size-14"><span class="font-admin"> {{isCreacion ? 'Creación de la Nomenclatura': 'Edición de la Nomenclatura'}}</span></i>
    </p-header>

    <!-- pasos de creacion o edicion -->
    <p-steps [styleClass]="stepsModel.styleClass" [model]="stepsModel.steps" [(activeIndex)]="stepsModel.activeIndex"></p-steps>

    <!-- Paso 1 Datos de la nomenclatura-->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_UNO">
      <form name="formDatos" #formDatos="ngForm"
        (ngSubmit)="limpiarMensajes() && formDatos.form.valid && siguienteDatosNomenclatura()"
        (keydown.enter)="$event.preventDefault()" novalidate>

        <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
          <p-header>
            <i class="fa fa-info-circle font-size-18"></i>
            <span> Datos de la nomenclatura, todos los valores son obligatorios</span>
          </p-header>

          <table class="table steps-tbl mb-0">
            <tbody>
              <!-- Nomenclatura -->
              <tr>
                <td>
                  <label for="nomen" class="steps-st mb-0">Nomenclatura:</label>
                </td>
                <td>
                  <input type="text"
                    id="nomen"
                    name="nomen"
                    [(ngModel)]="nomenclaturaCU.nomenclatura"
                    #nomen="ngModel"
                    maxlength="15"
                    adminRequired
                    adminAutofocus
                    autocomplete="off"
                    class="ad-input ad-input-style w-100"
                    [ngClass]="{'ad-input-required' : (formDatos.submitted && !nomen.valid)}"/>
                  <div class="focus-border"></div>
                </td>
              </tr>

              <!-- Descripcion -->
              <tr>
                <td>
                  <label for="descr" class="steps-st mb-0">Descripción:</label>
                </td>
                <td>
                  <input type="text"
                    id="descr"
                    name="descr"
                    [(ngModel)]="nomenclaturaCU.descripcion"
                    #descr="ngModel"
                    maxlength="255"
                    adminRequired
                    autocomplete="off"
                    class="ad-input ad-input-style w-100"
                    [ngClass]="{'ad-input-required' : (formDatos.submitted && !descr.valid)}"/>
                  <div class="focus-border"></div>
                </td>
              </tr>

              <!-- Consecutivo Inicial -->
              <tr>
                <td style="width: 15%">
                  <label for="coninit" class="steps-st mb-0 pb-3">Consecutivo Inicial:</label>
                </td>
                <td>
                  <input type="text"
                    id="coninit"
                    name="coninit"
                    [(ngModel)]="nomenclaturaCU.consecutivoInicial"
                    #coninit="ngModel"
                    [pKeyFilter]="regex.SOLO_NUMEROS"
                    maxlength="3"
                    required
                    autocomplete="off"
                    placeholder="Campo Numérico"
                    class="ad-input ad-input-style w-100 font-new-roman"
                    [ngClass]="{'ad-input-required': formDatos.submitted && !coninit.valid}" />
                  <div class="focus-border"></div>
                  <p class="st font-weight-bold font-size-14 mb-0"><i class="fa fa-info-circle font-size-14"></i> Número que inicia el consecutivo, ejemplo, si este valor es 10 el primer consecutivo para esta nomenclatura será 10</p>
                </td>
              </tr>
            </tbody>
          </table>
        </p-panel>

        <!-- botones salir - next-->
        <div class="text-center mb-1">
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="formDatos.onSubmit()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </form>
    </ng-container>

    <!-- Paso 2 Asociar Campos -->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.STEP_DOS">
      <p-panel styleClass="mr-4 ml-4 mb-2 steps-pnl">
        <p-header>
          <i class="fa fa-info-circle font-size-18"></i>
          <span> Asigne los campos para la nomenclatura</span>
        </p-header>

        <p-table
        [value]="campos"
        [responsive]="true"
        [paginator]="true"
        [alwaysShowPaginator]="false"
        [rows]="10"
        rowHover="true">

          <ng-template pTemplate="header">
            <tr class="text-center">
              <th class="font-new-roman font-size-14">¿Aplica?</th>
              <th class="font-new-roman font-size-14">Tipo de Campo</th>
              <th class="font-new-roman font-size-14">Nombre del Campo</th>
              <th class="font-new-roman font-size-14">Detalle</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-campo>
            <tr [pSelectableRow]="campo">
              <td style="width: 5%" class="text-center">
                <admin-inputswitch *ngIf="!campo.tieneConsecutivo"
                  [isChecked]="campo.aplica"
                  (switchChange)="campo.aplica = $event">
                </admin-inputswitch>
                <i *ngIf="campo.tieneConsecutivo" class="pi pi-check icon-sel font-size-26"></i>
              </td>
              <td style="width: 20%" class="text-center">{{ campo.tipoCampoNombre }}</td>
              <td>{{ campo.nombre }}</td>
              <td style="width: 4%" class="text-center">
                <button (click)="showModalVerDetalleCampo(campo)" type="button" class="btn btn-sm btn-round-table btn-round-teal">
                  <i class="pi pi-external-link icon-round-table"></i>
                </button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="4">
                <p class="st font-weight-bold font-size-14 mb-0 text-center">No hay campos parametrizados en el sistema</p>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- botones salir - next-->
        <div class="text-center mt-2 mb-1">
          <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
          </button>
          <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
            <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
          </button>
          <button (click)="siguienteCamposEntrada()" type="button" class="btn btn-sm btn-primary w-100-px">
            <label class="btn-size-admin">Siguiente <i class="fa fa-hand-o-right"></i></label>
          </button>
        </div>
      </p-panel>
    </ng-container>

    <!-- Paso 3 confirmacion -->
    <ng-container *ngIf="stepsModel.activeIndex === stepsModel.ulitmoIndex">

      <!-- detalle - nomenclatura -->
      <admin-detalle-nomenclatura [detalle]="nomenclaturaCU" [modificaciones]="datosEdicion"></admin-detalle-nomenclatura>

      <!-- botones salir - next-->
      <div class="text-center mt-2 mb-1">
        <button (click)="stepsModel.regresar()" type="button" class="btn btn-sm btn-primary w-100-px">
          <label class="btn-size-admin"><i class="fa fa-hand-o-left"></i> Regresar</label>
        </button>
        <button (click)="closePanelCU()" type="button" class="btn btn-sm btn-secondary mr-1 ml-1 w-100-px">
          <label class="btn-size-admin"><i class="fa fa-times"></i> Salir</label>
        </button>
        <button (click)="crearNomenclatura()" *ngIf="isCreacion" type="button" class="btn btn-success btn-sm">
          <label class="btn-size-admin"><i class="fa fa-plus-circle"></i> Crear Nomenclatura</label>
        </button>
        <button (click)="editarNomenclatura()" *ngIf="isEdicion" [disabled]="!(datosEdicion.datosBasicosEditar || datosEdicion.camposEntradaEditar)" type="button" class="btn btn-success btn-sm">
          <label class="btn-size-admin"><i class="fa fa-pencil"></i> Aplicar Cambios</label>
        </button>
      </div>
    </ng-container>
  </p-panel>
</ng-container>

<!-- modal ver detalle nomenclatura -->
<ng-container *ngIf="verDetalleNomenclatura && verDetalleNomenclatura.data">
  <p-dialog header="Detalle de la Nomenclatura"
  [(visible)]="verDetalleNomenclatura.isShowModal"
  modal="true"
  responsive="true"
  dismissableMask="true"
  styleClass="splr-dl"
  (onHide)="verDetalleNomenclatura.closeModal()">
    <div class="mx-dtl-mdl">
      <admin-detalle-nomenclatura [detalle]="verDetalleNomenclatura.data" [isModal]="true"></admin-detalle-nomenclatura>
    </div>
  </p-dialog>
</ng-container>

<!-- modal ver detalle campo -->
<ng-container *ngIf="verDetalleCampo && verDetalleCampo.data">
  <p-dialog header="Detalle del Campo"
  [(visible)]="verDetalleCampo.isShowModal"
  modal="true"
  responsive="true"
  dismissableMask="true"
  styleClass="splr-dl"
  (onHide)="verDetalleCampo.closeModal()">
    <div class="mx-dtl-mdl">
      <admin-detalle-campo [campo]="verDetalleCampo.data" [ocultarItems]="true"></admin-detalle-campo>
    </div>
  </p-dialog>
</ng-container>
