<div class="container-fluid ">

  <!-- Logo admin-free -->
  <img class="rounded mx-auto d-block" src="assets/harmony-logo.png" alt="logo">

  <!-- panel principal -->
  <div class="row pnl-main">

    <!-- panel login center -->
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto pnl-content">

      <!-- card del login -->
      <div class="card">

        <!-- header - card -->
        <div class="card-header color-header">
          <div class="row">
            <div class="col-md-12 text-center">
              <small class="title">Bienvenido</small>
              <br>
              <small class="sub-title">Por favor use el formulario para iniciar sesión</small>
            </div>
          </div>
        </div>

        <!-- header - body -->
        <div class="card-body">

          <!-- form - login -->
          <form class="font" name="form" #f="ngForm" (ngSubmit)="beforeIniciarSesion() && f.form.valid && iniciarSesion()" novalidate (keydown.enter)="$event.preventDefault()">

            <!-- usuario y password o token-->
            <div class="form-group row">
              <input type="text"
                name="username"
                #username="ngModel"
                [(ngModel)]="credenciales.usuario"
                placeholder="Usuario"
                maxlength="50"
                adminRequired
                adminAutofocus
                class="form-control font"
                [ngClass]="(submitted && !username.valid) ? 'input-invalido' : 'input-valido'"/>
            </div>
            <div class="form-group row">
              <input type="password"
                name="clave"
                #clave="ngModel"
                [(ngModel)]="credenciales.clave"
                placeholder="{{credenciales.administrador ? 'Token' : 'Contraseña'}}"
                maxlength="50"
                adminRequired
                class="form-control font"
                [ngClass]="(submitted && !clave.valid) ? 'input-invalido' : 'input-valido'"/>
            </div>

            <!-- ckeck ingresar como admin-->
            <div class="form-group row">
              <div class="custom-control custom-checkbox">
                <input id="checkAdmin"
                  type="checkbox"
                  (click)="toogleAdmin()"
                  class="custom-control-input">
                <label for="checkAdmin" class="custom-control-label">Ingresar como administrador</label>
              </div>
            </div>

            <!-- boton - ingreso-->
            <br>
            <div class="form-group row">
              <button type="submit" class="btn btn-primary w-100">
                  <i class="fa fa-sign-in"> Entrar</i>
              </button>
            </div>
            <p class="text-danger text-center msj-error">{{msjError}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="text-center">
    <small>AdminFree &copy; 2019</small>
  </div>
</div>
